= semantic_form_for @mail_message, :html => {:novalidate => true} do |f|
  = f.error_messages 
  = f.inputs  do 
    = f.input :ip, :as => :hidden
    = f.input :user_agent, :as => :hidden 
    = f.input :referer, :as => :hidden 
    = f.input :event_id, :as => :hidden
    = f.input :organizer_id, :as => :hidden 
    = f.input :to_name, :as => :hidden
    = f.input :current_page, :as => :hidden

    = f.input :subject, :required => true, :input_html => { :readonly => true }
    = f.input :to_name, :required => true, :input_html => { :readonly => true }

    = f.input :mail_body
    
    - if current_user
      = f.input :from_email, :input_html => { :readonly => true }, :hint => link_to("Inte du? Logga ut.", destroy_user_session_path)
    - else
      = f.input :from_email 
      
    = f.input :from_first_name
    = f.input :from_last_name
    
    = f.input :from_phone     
    
    = f.action(:submit)
    %p Du får en kopia på mejlet till din mejladress. 
    %p § Tänk efter vad du skriver. Var snäll i tonen. Vi anmäler hot och andra olagligheter till polisen.
    %p 
      § För att kunna jobba mot spam och missbruk och felsöka problem sparar vi under en begränsad tid 
      information om mejlet som du skickar. Vi sparar inte själva mejlet.
    %p Det här sparar vi: Din mejladress, mottagarens mejladress, klockslag, din dators ip-adress, webbläsarmodell (user agent), vilken webbsida du befinner dig på. 
