<p id="notice"><%= notice %></p>

<p>
  <b>Created at:</b>
  <%= @mail_message.created_at %>
</p>

<p>
  <b>From email:</b>
  <%= @mail_message.from_email %>
</p>

<p>
  <b>To email:</b>
  <%= @mail_message.to_email %>
</p>

<p>
  <b>Event:</b>
  <%= @mail_message.event_id %>
</p>

<p>
  <b>Ip:</b>
  <%= @mail_message.ip %>
</p>

<p>
  <b>User agent:</b>
  <%= @mail_message.user_agent %>
</p>

<p>
  <b>Referer:</b>
  <%= @mail_message.referer %>
</p>


<%= link_to 'Back', mail_messages_path %>
