<h1><%= title t('.title') %></h1>

<table class = "general">
  <tr>
    <th><%= Petition.human_attribute_name('created_at')%></th>
    <th><%= Petition.human_attribute_name('user') %></th>
    <th><%= Petition.human_attribute_name('organizer')%></th>
    <th><%= Petition.human_attribute_name('approved')%></th>

  </tr>
  <% for petition in @petitions %>
    <tr class = <%= cycle 'even', 'odd' %>>
      <td><%= link_to l(petition.created_at), petition %></td>
      <td><%= petition.user %></td>
      <td><%= petition.organizer %></td>
      <td><%= petition.approved %></td>      
    </tr>
  <% end %>
</table>

<p><%= link_to t('.new'), new_petition_path %></p>

