<h1><%= title t('.title') %></h1>

<p>
  <strong><%= Petition.human_attribute_name 'user' %>:</strong>
  <%= @petition.user %>
</p>
<p>
  <strong><%= Petition.human_attribute_name 'organizer' %>:</strong>
  <%= link_to @petition.organizer, organizer_path(@petition.organizer) %>
</p>
<p>
  <strong><%= Petition.human_attribute_name 'argumentation' %>:</strong>
  <%= @petition.argumentation %>
</p>
<% if @petition.approved == true || @petition.approved == false %> 
  <p>
    <strong><%= Petition.human_attribute_name 'decision_made_by_user' %>:</strong>
    <%= @petition.decision_made_by_user %>
  </p>
  <p>
    <strong><%= Petition.human_attribute_name 'approved' %>:</strong>
    <%= @petition.approved %>
  </p>
  <p>
    <strong><%= Petition.human_attribute_name 'rejected_reason' %>:</strong>
    <%= @petition.rejected_reason %>
  </p>
<% end %>

<% if current_user %>
  <% if current_user.organizers.include?(@petition.organizer) && @petition.approved == nil %>
    <p>
      <%= link_to t('.approve'), edit_petition_path(@petition) %> 
    </p>
  <% end %>

  <% if @petition.user == current_user %>
    <% if @petition.approved == nil %>
      <p>
        <%= link_to t('.cancel'), @petition, :confirm => t('.are_you_sure') + @petition.organizer.name + '?', :method => :delete %>
      </p>
    <% end %>
  <% end %>  
  
  <% if current_user.is_admin? %>
      <p>
        <%= link_to t('.cancel'), @petition, :confirm => t('.are_you_sure') + @petition.organizer.name + '?', :method => :delete %>
      </p>
  <% end %>  
<% end %>

<p>
  <%= link_to "#{t('app.To')} #{@petition.organizer}#{t('app.page_of')}", organizer_path(@petition.organizer) %>
</p>