- unless @organizer.logotype_file_name.blank?
  = image_tag @organizer.logotype.url(:medium), :width => "100%", :class => "organizer_logotype", :alt => "#{@organizer.s} logotyp", :title => "#{@organizer.s} logotyp", :itemprop => :image
%h3.aside_top 
  Tipsa om 
  = @organizer.name + "!"
= share_me

%h3 Kommande evenemang
= aside_calendar @organizer
        
%h3 Prenumerera
.subscribe_container
  .subscribe_icon
    = link_to image_tag("rss-icon-32x32.png", :alt => "Flöde med alla evenemang.", :title => "Prenumerera på RSS-flöde med #{@organizer.s} alla evenemang i din RSS-läsare eller visa evenemangen i din blogg."), :format => :rss, :only_path => false
  .subscribe_text
    =link_to "#{@organizer.s} alla evenemang som RSS-flöde."  , :format => :rss, :only_path => false

- if @organizer.future_events?
  .subscribe_container  
    %br
    .subscribe_icon
      = link_to image_tag("ical-icon-32x32.png", :alt => "Flöde med alla evenemang.", :title => "Prenumerera på RSS-flöde med #{@organizer.s} alla evenemang i din RSS-läsare eller visa evenemangen i din blogg."), :format => :rss, :only_path => false
    .subscribe_text
      = link_to "Spara #{@organizer.s} nu inplanerade evenemang i Outlook eller annan kalender i din dator.", "organizer_url(:only_path => false, :format => :ics )"