- unless @organizer.logotype_file_name.blank?
  = image_tag @organizer.logotype.url(:medium), :width => "100%", :class => "organizer_logotype", :alt => "#{@organizer.s} logotyp", :title => "#{@organizer.s} logotyp", :itemprop => :image
%span.heading_label.aside_top 
  Tipsa om 
  = @organizer.name + "!"
= share_me

%span.heading_label Kommande evenemang

- unless @organizer.upcoming_events.blank?
  %h3 #{@organizer.s} kommande evenemang
  %table.mini_calendar
    %caption #{@organizer.s} kommande evenemang
    %tbody
      -for event in @organizer.upcoming_events
        %tr
          %td.sheet
            %a{:href => "#{event_path event}", :title => "#{event.subject}. #{event.intro}"}
              .calendar_day
                .weekday #{l(event.start_datetime, :format => :abbr_day_of_week)}
                .day_of_month #{l(event.start_datetime, :format => :day_of_month)}
                .month #{l(event.start_datetime, :format => :abbr_month_of_year)}
          %td.event
            = link_to "Kl #{l(event.start_datetime, :format => :time)}: #{event.subject} (#{event.category.name}). #{event.municipality_short}.", event_path(event), :title => "#{event.intro}"

  %p.event_type
    = link_to "#{@organizer.s} alla kommande evenemang (#{@organizer.number_of_upcoming_events})", events_path(:organizer_id => @organizer.id) 

- unless @organizer.past_events.blank?
  %p.event_type
    = link_to "#{@organizer.s} alla tidigare evenemang (#{@organizer.number_of_past_events})", events_path(:organizer_id => @organizer.id, :to => l( Time.zone.now.beginning_of_day, :format => :date)) 
         
%span.heading_label Prenumerera
.subscribe_container
  .subscribe_icon
    = link_to image_tag("rss-icon-32x32.png", :alt => "Flöde med alla evenemang.", :title => "Prenumerera på RSS-flöde med #{@organizer.s} alla evenemang i din RSS-läsare eller visa evenemangen i din blogg."), events_path(:format => :rss, :only_path => false, :organizer_id => @organizer.id, :mute_organizer => 1, :ver => 3)
  .subscribe_text
    =link_to "#{@organizer.s} alla evenemang som RSS-flöde."  , events_path(:format => :rss, :only_path => false, :organizer_id => @organizer.id, :mute_organizer => 1, :ver => 3)

- if @organizer.future_events?
  .subscribe_container  
    %br
    .subscribe_icon
      = link_to image_tag("ical-icon-32x32.png", :alt => "Spara #{@organizer.s} nu inplanerade evenemang i din Outlook eller annan kalender.", :title => "Spara #{@organizer.s} nu inplanerade evenemang i din Outlook eller annan kalender."), :format => :ics, :only_path => false
    .subscribe_text.todo
      = link_to "Spara #{@organizer.s} nu inplanerade evenemang i din Outlook eller annan kalender.",  organizer_url(:only_path => false, :format => :ics ), :title => "Spara #{@organizer.s} nu inplanerade evenemang i din Outlook eller annan kalender."