<%= semantic_form_for @organizer do |f| %>
  <%= f.error_messages %>
  <%= f.inputs do %>  
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :website %>
    <input id="organizer_user_ids_" name="organizer[user_ids][]" type="hidden" value="" />
    <%= f.input :users %>
  <% end %>
 
 
  <p><%= f.buttons %></p>
    
<% end %>
