<%= semantic_form_for @organizer do |f| %>
  <%= f.error_messages %>
  <%= f.inputs do %>  
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :website %>
    <%= f.input :users %>
  <% end %>
 
 
  <p><%= f.buttons %></p>
    
 <% end %>
