<%= semantic_form_for @organizer, :html => {:multipart => true, :novalidate => true} do |f| %>
  <%= f.error_messages %>
  <%= f.inputs do %>  
    <%= f.input :name %>
    <%= f.input :intro %>
    <%= f.input :description %>
    <%= f.input :website %>
    <%= f.input :phone %>
    <%= f.input :email %>
    <%= f.input :logotype %>
    <%= f.input :photo %>
    <%= f.input :users, :as => :hidden %>
    <li class="string" id="organizer_disclaimer"><label for="organizer_disclaimer">Innan du sparar... </label><p class="inline-hints">När du sparar arrangörssidan godkänner du <a href ="http://info.allom.se/legalt/" target = "_blank">Alloms allmänna villkor</a> (nytt fönster). Kom ihåg att du måste ha tillåtelse om du använder andras texter eller bilder i arrangörssidan. Vi publicerar arrangörssidan med licensen <i>CC NC-SA 2.5 Sverige</i>.</p></li>
  <% end %>
 
 
  <p><%= f.buttons %></p>
    
<% end %>
