.content
  %article.article{:role => "main"}
    %header
      = render "flashes"

    - if params[:recruit]
      %h1 Vilken arrangör jobbar du för?
    - else
      %h1 Alla arrangörssidor på Allom
      %p= link_to "Lägg upp en ny arrangörssida", new_organizer_path
      %p Att lägga upp en arrangörssida går snabbt och kostar inte något.
  
    %table.general
      %thead
        %tr
          %th Arrangör (inplanerade/totalt)
          %th Nästa evenemang
      %tbody
        - for organizer in @organizers
          %tr
            %td
              - if params[:recruit]
                = link_to organizer.name, organizer_path(organizer, :recruit => true )
              - else 
                = link_to organizer.name, organizer_path(organizer) 
              (#{organizer.number_of_upcoming_events}/#{organizer.events.count})
            %td
              - unless organizer.next_event.nil?
                = link_to(l(organizer.next_event.start_datetime, :format => :shorty) + ', ' +organizer.next_event.subject + ' (' + organizer.next_event.municipality.short_name + ')', organizer.next_event, :title => organizer.next_event.try(:intro))
    
    %p= link_to "Lägg upp en ny arrangörssida", new_organizer_path
    
            
  %aside{:role => "complementary"}
    = render 'aside_index'





- set_meta_tags :title => "Alla arrangörssidor på Allom.", :description => "Lägg in dina evenemang på evenemangskalendern Allom. Snabbt och enkelt. Kostnadsfritt konto."




  
      
      
      
