<% set_meta_tags :title => t('.title'),
                   :description => t('.meta_description') %>

<% content_for :right_column_top do %>  
  <%= my_organizers current_user %>
<% end %>   

<h1><%= t('.title') %> </h1>
<p>
  <% unless current_user %>
  <%= link_to I18n.t('users.sessions.sign_up'), new_user_registration_path %> <%= I18n.t('app.or') %>
  <%=link_to I18n.t('users.sessions.sign_in'), new_user_session_path %> 
  <%= t '.create_your_own' %>        
  <% end %>          
</p>

<table class = "general">
  <caption>Inplanerade evenemang för alla arrangörer</caption>
  <thead>
    <tr>
      <th>Arrangör</th>
      <th class = "number_column">Planerade<br />evenemang</th>
      <th>Nästa evenemang</th>
      <% if current_user %>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% reset_cycle %>
  <% for organizer in @organizers %>
    <tr class = "<%= cycle("even", "odd") %>">
      <td><%= link_to organizer.name, organizer %></td>
      <td class = number_column><%=  link_to organizer.number_of_upcoming_events, organizer, :title => organizer.name + ' ' + t('.number_all_events1') + ' ' + organizer.events.count.to_s + ' ' + t('.number_all_events2') %></td>
      <td>
        <% unless organizer.next_event.nil?%>
      <%= link_to(l(organizer.next_event.start_datetime, :format => :shorty) + ', ' +organizer.next_event.subject + ' (' + organizer.next_event.municipality.short_name + ')', organizer.next_event, :title => organizer.next_event.try(:intro)) %>
      <% end %>
      </td>
      <% if current_user %>
        <td><%# link_to organizer.relation_with(current_user), organizer %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<% if current_user %>
  <p><%= link_to t('.new'), new_organizer_path %></p>
<% end %>


              <% unless user_signed_in? %>
                    <p>
                    <%= link_to I18n.t('users.sessions.sign_up'), new_user_registration_path %> <%= I18n.t('app.or') %> 
                    <%=link_to I18n.t('users.sessions.sign_in'), new_user_session_path %>    
                    </p>
              <% else %>
                    <p>
                    <%= t('users.invitations.new.have_a_friend')%><br />
                    <%= link_to t('users.invitations.new.invite_her'), new_user_invitation_path %>
                    </p>
              <% end %>
