<% title t('organizers.index.title') %>

<table>
  <% for organizer in @organizers %>
    <tr>
      <td><%= link_to organizer.name, organizer %> <abbr title="<%= organizer.number_of_upcoming_events %>&nbsp;<%= t '.no_of_events_per_organizer' %>">
            (<%= organizer.number_of_upcoming_events %>)
        </abbr></td>
      <td><%= organizer.website %></td>
    </tr>
  <% end %>
</table>

<% if current_user %>
  <p><%= link_to t('.new'), new_organizer_path %></p>
<% end %>
