.content{:itemscope => true, :itemtype => "http://schema.org/Organization"}
  %article.article{:role => "main"}
    %header
      - if params[:recruit]
        .user_message
          %p
            = "Jobbar du för #{@organizer.name}?"
          %p
            = link_to "Ansök om att bli administratör för den här sidan.", new_petition_path( :organizer_id => @organizer.id )
          
      = admin_organizer
      
      %p.category Arrangör:
      %h1{:itemprop => :name}= @organizer.name
      .header_image_container
        = image_tag(  @organizer.photo.url(:medium), 
                      :title => (@organizer.photo_caption.blank? ? @organizer.name : @organizer.photo_caption), 
                      :alt => (@organizer.photo_caption.blank? ? @organizer.name : @organizer.photo_caption),
                      :class => "header_image",
                      :width => "100%")

        - unless @organizer.photo_file_size.to_i == 0 || @organizer.photo_caption.blank?
          .image_text
            = link_to_unless @organizer.photo_url.blank?, @organizer.photo_caption, @organizer.photo_url, :rel => :nofollow
    %h3{:itemprop => :description}= @organizer.intro
    = simple_format @organizer.description 
   
    - unless @syndicated_events.blank?
      %span.heading_label #{@organizer.name} rekommenderar #{@syndicated_events.count} evenemang:
      %table.mini_calendar
        %tbody
          - for event in @syndicated_events
            %tr
              %td.sheet
                <a href='#{event_path event}' title='#{event.subject}. #{event.intro}'>
                .calendar_day
                  .weekday #{l(event.start_datetime, :format => :abbr_day_of_week)}
                  .day_of_month #{l(event.start_datetime, :format => :day_of_month)}
                  .month #{l(event.start_datetime, :format => :abbr_month_of_year)}
                </a>
              %td.event
                - if event.start_datetime.beginning_of_year == Time.zone.now.beginning_of_year
                  = link_to "#{event.subject} (#{event.category.name}). #{event.organizer.name}, #{event.municipality.short_name}. Kl #{l(event.start_datetime, :format => :time)}.", event_path(event), :title => event.intro
                - else
                  = link_to "#{event.subject} (#{event.category.name}). #{event.organizer.name}, #{event.municipality.short_name}.  #{l(event.start_datetime)}.", event_path(event, :only_path => false), :title => event.intro                    
      %span.heading_label Var finns de rekommenderade evenemangen?
      = draw_map @markers  
      %p.todo
        = image_tag "grn-pushpin.png", :class => :marker_legend_mid_size
        Egna evenemang.
      %p.todo
        = image_tag "grn-small-pushpin.png", :class => :marker_legend_small_size
        Rekommenderade evenemang.                  
    - else  
      %h3= "Var är #{@organizer.name} aktiv?"
      = draw_map @markers  
      %p.todo
        = image_tag "grn-pushpin.png", :class => :marker_legend_mid_size
        Kommande evenemang.
      %p.todo
        = image_tag "red-pushpin.png", :class => :marker_legend_small_size
        Redan genomförda evenemang.

    .event_organizer
      %span.heading_label#article_footer Kontaktinfo
      %ul
        - unless @organizer.phone.blank?
          %li
            = link_to raw("Ring <span itemprop=\"telephone\">#{@organizer.phone}\</span>"), "tel:#{CGI::escape(@organizer.phone)}" 
        - unless @organizer.website.blank?
          %li
            = link_to_unless @organizer.events.blank?, @organizer.website, @organizer.website, :itemprop => :url
        - unless @organizer.email.blank?
          %li
            -# link_to raw("Mejla <span itemprop=\"email\">#{@organizer.email}\</span>"), "mailto:#{@organizer.email}" # TODO
            
            = link_to "Mejla #{@organizer.contact_name} (kontaktformulär)", "javascript:toggle();", :id => :display_text                        
      #toggle_text{:style => "display:none"}
        = render "mail_messages/form"

    %footer
      %p.article_meta
        = organizer_footer
      %p.article_meta
        =link_to image_tag("cc-by-sa.png", :alt => "Ikon för licensen Creative Commons CC(BY-SA)"), "http://creativecommons.org/licenses/by-sa/2.5/deed.sv", :rel => :nofollow, :title => "Licens: Creative Commons CC(BY-SA)"
        Arrangörssidans texter & bilder är licensierade av arrangören under Creative Commons Erkännande-DelaLika 2.5 Sverige Licens, CC (BY-SA)        
                
      %nav.event_admin
        %span.heading_label#article_nav 
          Jobbar du för 
          = @organizer.name + '?'
        %ul.event_organizer
          %li
            = link_to "Ändra arrangörssidan", edit_organizer_path 
          %li
            = link_to "Ansök om att bli administratör", new_petition_path( :organizer_id => @organizer.id )
          //%li
          //  = link_to "Marknadsför arrangören"

            
  %aside{:role => "complementary"}
    = render 'aside_show'
= organizer_meta