<% title @organizer.name %>
<p>
  <strong><%=t '.description' =%>:</strong>
  <%= simple_format @organizer.description %>
</p>
<p>
  <strong><%=t '.website' =%>:</strong>
  <%= link_to @organizer.website, @organizer.website %>
</p>

<p>
  <strong><%= t '.upcoming' %>:</strong>
</p>

<table>
  <% for event in @organizer.upcoming_events %>  
    <tr>
      <td> <%= event.start_date %> </td>
      <td><strong><%= link_to event.subject, event %></strong></td> 
      <td> <%= event.intro %> </td> 
      <td> <%= event.start_time %> </td>
      <td> <%= link_to event.municipality_short, event.municipality %></td> 
    </tr>
  <% end %>   
</table>



<% if current_user %>
  <% if current_user.authorized? @organizer %>

<p>
  <strong><%= t '.members' %>:</strong>
</p>

<table>
  <tr>
    <th></th>
    <th><%= User.human_attribute_name('first_name') %></th>
    <th><%= User.human_attribute_name('last_name') %></th>
    <th><%= User.human_attribute_name('email') %></th>  
    <th></th>
  </tr>    

<% for user in @organizer.users %>
  <tr>
    <td><%= link_to t('.show'), user %></td>
    <td><%= user.first_name %></td>  
    <td><%= user.last_name %></td>  
    <td><%= user.email %></td>  
    <td><%= link_to "ta bort medlemsskap" %></td>
  </tr>
<% end %> 
  
  
</table>

  <% end %>
<% end %>


<p>&nbsp;</p>

<% if current_user %>
  <% if current_user.authorized? @organizer %>
  
<p>
  <%= link_to t('app.edit') + " "+ @organizer.name, edit_organizer_path(@organizer) %> |
  <%= link_to t('app.destroy') + " "+ @organizer.name, @organizer, :confirm => t('app.are_you_sure') + ' ' +@organizer.name + '?', :method => :delete %> 
</p>

<%end%>
<%end%>
