<% set_meta_tags :title => @organizer.name + t('.title'),
                   :description => t('.meta_description') + ' ' + @organizer.name + ' ' +  t('.meta_description2')%>

<% content_for :right_column_facts do %>
  <div class="box">
  <span class="heading">Fakta från Wikipedia</span>
  <p>
  Kommunfakta
  </p>
  </div>
<% end %>

                   
                   
<%= image_tag @organizer.logotype.url(:small) %>
<h1><%= @organizer.name %></h1>
<p>
<h3><%= @organizer.intro %></h3>
</p>
<%= image_tag @organizer.photo.url(:medium) %>


<% content_for :head do %>  
  <%= auto_discovery_link_tag( :rss, organizer_url(:format => 'rss') , {:title => @organizer.name + t('app.s') + ' ' + t('.organizers_event') + ' ' + t('app.at') + ' ' +  t('app.site_name')}) %>
<% end %> 

<p>
  <%= simple_format @organizer.description %>
</p>

<% unless @organizer.website.blank? %>
<p>
  <strong><%=t '.website' =%>:</strong>
  <%= link_to @organizer.website, @organizer.website %>
</p>
<% end %>


<h3><%= t '.upcoming' %></h3>

<% if @organizer.upcoming_events.blank? %>  
  <p>Just nu verkar <%= @organizer.name %> inte ha några evenemang inplanerade. 
  <% unless !current_user.organizers.include? @organizer and !current_user.is_admin? %>
    <%= link_to t('.new_event'), new_event_path %>.
  <% end %>
  </p>
<% else %>
  <%= calendar @organizer.upcoming_events %>
<% end %>


<% if current_user %>
  <% if current_user.authorized? @organizer %>
  <div class = "authorized">
  <p>
    <h3><%= t '.members' %>:</h3>
  </p>
  <ol class = "user_list">
    <% for user in @organizer.users %>
      <li><div class = "user">
      <%= link_to user.name , user %></div>
      <% unless user == current_user %>
        <%= button_to I18n.t('organizers.show.unmember') , membership_path(Membership.find(:first, :conditions => ["organizer_id = ? and user_id = ?", @organizer.id, user.id])), :confirm => I18n.t('organizers.show.sure_unmember') + user.name, :method => :delete %> 
      <% end %>
      </li>
    <% end %> 
  </ol>


<p>
  <h3><%= t '.all_registered_users' %>:</h3>
</p>

<ol class = "user_list">
<% @users = User.all %>
  <% for user in @users %>
    <li><div class = "user">
      <%= link_to user.name , user %> </div>
      <%= button_to I18n.t('organizers.show.make_member') , memberships_path(:user_id => user.id, :organizer_id => @organizer) %>
    </li>  
  <% end %>
</ol>
  </div> <!-- authorized -->
<% end %>
<% end %>


   
<p>
<%= link_to t('.subscribe_rss') + ' ' + @organizer.name + t('app.s') + ' ' + t('.organizers_event'), :format => :rss, :only_path => false %>  
<%= link_to image_tag("rss_icon.gif", :alt => t('.rss_alt') + ' ' + @organizer.name), :format => :rss, :only_path => false %>
</p>


<p>
<%= t('.share_as_iframe') %><br />
<code><%= h '<iframe src="' + organizer_url(:format => :ihtml) + '"  frameborder="1" ></iframe>' %></code>
</p>

<% if current_user %>
  <% if current_user.authorized? @organizer %>
  
<ul class = "authorized">
  <li><%= link_to t('app.edit') + " "+ @organizer.name + t('app.s') + ' ' + t('app.page'), edit_organizer_path(@organizer) %></li>
  <% if current_user.try :is_admin %>
  <li><%= link_to t('app.destroy') + " "+ @organizer.name+ t('app.s') + ' ' + t('app.page'), @organizer, :confirm => t('app.are_you_sure') + ' ' +@organizer.name + '?', :method => :delete %></li>
  <% end %>
</p>
</ul>
<%end%>
<%end%>
