<% title @organizer.name %>
<p>
  <strong><%=t '.description' =%>:</strong>
  <%= @organizer.description %>
</p>
<p>
  <strong><%=t '.website' =%>:</strong>
  <%= @organizer.website %>
</p>

<p>
  <strong><%= t '.members' %>:</strong>
</p>
<ul>  
  <% for user in @organizer.users %>  
  <li><%= link_to user.name,  user %></li>  
  <% end %>  
</ul>  


<p>
  <strong><%= t '.upcoming' %>:</strong>
</p>

<table>
  <% for event in @organizer.events %>  
    <tr>
      <td> <%= event.start_date %> </td>
      <td><strong><%= link_to event.subject, event %></strong></td> 
      <td> <%= event.intro %> </td> 
      <td> <%= event.start_time %> </td>
      <td> <%= link_to event.municipality_short, event.municipality %></td> 
    </tr>
  <% end %>   
</table>
<p>
  Om medlem, lägg upp nytt evenemang...
</p>
<p>&nbsp;</p>
<p>
  <%= link_to t('app.edit'), edit_organizer_path(@organizer) %> |
  <%= link_to t('app.destroy'), @organizer, :confirm => t('app.are_you_sure') + ' ' +@organizer.name + '?', :method => :delete %> |
  <%= link_to t('organizer.show.list'), organizers_path %>
</p>
