<% set_meta_tags :title => @organizer.name + t('.title'),
                   :description => t('.meta_description') + ' ' + @organizer.name + ' ' +  t('.meta_description2')%>

<% content_for :head do %>  
  <%= auto_discovery_link_tag( :rss, organizer_url(:format => 'rss') , {:title => @organizer.name + t('app.s') + ' ' + t('.organizers_event') + ' ' + t('app.at') + ' ' +  t('app.site_name')}) %>
<% end %>                     
                   

<%= open_graph_properties @organizer.name, 
                          request.protocol + request.host_with_port + @organizer.logotype.url(:large), 
                          organizer_path(@organizer, 
                          :only_path => false)  %>

<% if current_user %>
  <% if @organizer.users.include? current_user || current_user.is_admin? %>
    <div class = "user_message">
        <p>
          <%= t('.you_are_admin_for') + ' '+ @organizer.name %>. 
          <% unless @organizer.petition_users.blank? %>
            <%= link_to t('.you_have_petitions'), 
                        :anchor => :admin %>
          <% end %>
        </p>
    </div>
  <% end %>
  <% if @organizer.petition_users.include? current_user %>
    <div class = "user_message">
        <p>
          <%= link_to( t('.you_have_applied') + ' ' + @organizer.name, @organizer.petitions.find_by_user_id(current_user.id) )  %>.
        </p>
    </div>
  <% end %>
<% end #current_user %>



<div class = "page_heading">
  <% unless @organizer.logotype.blank? %>
    <%= image_tag @organizer.logotype.url(:medium),
                  :class => :page_logotype,
                  :alt => t('.logotype_for') + ' ' + @organizer.name 
                  %>
  <% end %>
  <h1><%= @organizer.name %></h1>
  <h3><%= @organizer.intro %></h3>
  <%= facebook_like organizer_path(:only_path => false), "top", "like" %>
</div>

<div class = "break"></div>

<%= image_tag @organizer.photo.url(:medium), :class => :organizer_photo %>

<%= simple_format @organizer.description %>


<p class = "break"></p><p>
<% unless @organizer.website.blank? %>
  <strong><%=t '.website' =%>:</strong>
  <%= link_to @organizer.website, @organizer.website %>
  </p>
  <p>
<% end %>

<strong><%=t '.contact' %>:</strong>
<% unless @organizer.phone.blank? %>
  <br /><%= @organizer.phone%>
<% end %>
<% unless @organizer.email.blank? %>
  <br /><%= @organizer.email %>
<% end %>
</p>


<h3><%= t '.upcoming' %></h3>

<% if @organizer.upcoming_events.blank? %>  
  <p><%= t('.at_the_moment') + ' ' + @organizer.name + ' ' + t('.has_no_events') %> 
  <% if current_user %>
    <% unless !current_user.organizers.include? @organizer and !current_user.is_admin? %>
      <%= link_to t('.first_event'), new_event_path(:organizer_id => @organizer.id) %>.
    <% end %>
  <% end %>
  </p>
<% else %>
    <%= will_paginate( 
          @events,
          :renderer => CustomPaginationLinkRenderer,
          :first_label => t('will_paginate.first'),
          :previous_label => t('will_paginate.previous'),
          :next_label => t('will_paginate.next'),
          :last_label => t('will_paginate.last'),
          :summary_label => " %d #{t('will_paginate.to')} %d #{t('will_paginate.of')} %d "
          ) %>
  <%= calendar @events %>
  <%= will_paginate( 
          @events,
          :renderer => CustomPaginationLinkRenderer,
          :first_label => t('will_paginate.first'),
          :previous_label => t('will_paginate.previous'),
          :next_label => t('will_paginate.next'),
          :last_label => t('will_paginate.last'),
          :summary_label => " %d #{t('will_paginate.to')} %d #{t('will_paginate.of')} %d "
          ) %>
          
        
<% end %>

<% if @organizer.future_events? %>
  <p>
    <%= link_to(t('.download_ics1') + ' ' + @organizer.name + t('app.s') + ' ' + t('.download_ics2'), organizer_url(:only_path => false, :format => :ics ), :title => t('app.ics_file'))  %>
  </p>
<% end %>

<p>
  <%= link_to t('.subscribe_rss') + ' ' + @organizer.name + t('app.s') + ' ' + t('.organizers_event'), :format => :rss, :only_path => false %>  
  <%= link_to image_tag("rss_icon.gif", :alt => t('.rss_alt') + ' ' + @organizer.name), :format => :rss, :only_path => false %>
  <%= link_to t('.whats_rss'), "http://sv.wikipedia.org/wiki/RSS-l%C3%A4sare", :rel => :nofollow %>
</p>

<% if @organizer.past_events? %>
  <p>
    <%= link_to @organizer.name + t('.previous_events'), events_path(:organizer_id => @organizer.id, :stop => :past) %>
  </p>
<% end %>



<%= facebook_like organizer_path(:only_path => false), "bottom", "like" %>


<% if current_user %>
  <% unless current_user.authorized? @organizer %>
  <% # TODO Make it possible to sign up and make a petition in one step %>
    <p>
      <%= t('.do_you_work_for') + ' ' + @organizer.name%>? 
      <%= link_to t('.apply_for_adminship'), 
                  new_petition_path( :organizer_id => @organizer.id ) %>
    </p> 
  <% end %>
  <% if current_user.authorized?(@organizer) || current_user.is_admin? %>
    </div><div class="post" id = "admin">
    <h2><%= t '.for_organizers'%></h2> 
    <div class = "authorized">
      <%= button_to(  t('.edit'), 
                      edit_organizer_path(@organizer), 
                      :method => :get, 
                      :class => :organizer_user) %>                      
    <% if current_user.is_admin? %>
      <%= button_to(  t('.destroy'), 
                    @organizer, 
                    :confirm => t('app.are_you_sure') + ' ' +@organizer.name + '?', 
                    :method => :delete ) %>
    <% end # is_admin %>
<p>
    <%= link_to   t('.new_event'), 
                    new_event_path(:organizer_id => @organizer.id) %>
</p>
    <h3>Användare som vill bli administratörer för <%= @organizer.name %>:</h3>

    <% unless @organizer.petition_users.blank?  %>
      <p>Om du inte agerar så kommer användarna att plockas bort från listan efter ... veckor. TODO</p>
      <table class = "general">
        <tr>
          <th></th>
          <th><%= t '.petitions'%></th>
          <th></th>
        </tr>
        <% for petition in @organizer.petitions %>
          <tr class = "<%= cycle("even", "odd") %>">
            <td><%= image_tag avatar_url(petition.user) %><br /></td>
            <td>
                <%= 
                  if current_user.is_admin
                    link_to petition.user , petition.user 
                  else
                    petition.user 
                  end
                %>: <br /> 
                <%= petition.argumentation %></td>
            <td>
                <%= link_to   t('.approve_user'), 
                      edit_petition_path(petition) %>
            </td>
          </tr>
        <% end #petitions %> 
        <% reset_cycle %>
      </table>
      <p>§ Liten text om att dela ut behörigheter. Den som du gör till administratör kommer att få samma behörighet som du och andra adminstratörer... Personen som ansökt om att bli adminstratör kommer att få ett mejl när du godkänner eller avslår ansökan. TODO</p>
    <% else %>
      <p><%= t '.no_petitions'%></p>
    <% end #petition_users.blank? %>

  <h3><%= t('.members_in') + ' ' + @organizer.name %>:</h3>
  <table class = "general">
    <table class = "general">
      <tr>
        <th></th>
        <th><%= t '.users'%></th>
        <th></th>
      </tr>
    <% for user in @organizer.users %>
    <tr class = "<%= cycle("even", "odd") %>">
      <td><%= image_tag avatar_url(user) %><br /></td>
      <td>
      <%= 
      if current_user.is_admin
        link_to user, user 
      else
        user
      end
      %></td>
      <td>
        <% unless user == current_user %>
          <%= button_to I18n.t('organizers.show.unmember') , membership_path(Membership.find(:first, :conditions => ["organizer_id = ? and user_id = ?", @organizer.id, user.id])), :confirm => I18n.t('organizers.show.sure_unmember') + user.name, :method => :delete %> 
        <%else%>
          <%= t '.dont_leave'%>
        <% end %>
      </td>
    </tr>
    <% end #users %> 
    <% reset_cycle %>
  </table>
</div> <!-- authorized -->
  <% end #authorized @organizer %>
<% end #current_user %>

<%= content_for :right_column_bottom do %>  
  <div class = "box" id = "promote_organizer">
    <span class="heading"><%= t('.promote')%><br /> <%=@organizer.name%>:</span>

      <% if @organizer.future_events? %>
        <p>
          <%= link_to(t('.download_ics1') + ' ' + @organizer.name + t('app.s') + ' ' + t('.download_ics2'), organizer_url(:only_path => false, :format => :ics ), :title => t('app.ics_file'))  %>
        </p>
      <% end %>

      <p>
        <%= link_to t('.subscribe_rss') + ' ' + @organizer.name + t('app.s') + ' ' + t('.organizers_event'), :format => :rss, :only_path => false %>  
        <%= link_to image_tag("rss_icon.gif", :alt => t('.rss_alt') + ' ' + @organizer.name), :format => :rss, :only_path => false %>
        <%= link_to t('.whats_rss'), "http://sv.wikipedia.org/wiki/RSS-l%C3%A4sare", :rel => :nofollow %>
      </p>

      <% if @organizer.past_events? %>
        <p>
          <%= link_to @organizer.name + t('.previous_events'), events_path(:organizer_id => @organizer.id, :stop => :past) %>
        </p>
      <% end %>

    <p>
    <%= t('.share_as_iframe') %>
    </p>
    <%= text_area_tag( "id", h('<iframe src="' + organizer_url(:format => :ihtml) + '"  frameborder="1" ></iframe>'), :class => :iframe_me, :readonly => true) %>
  </div> <!-- /promote_organizer -->
<% end #right_column_bottom %>
