.content{:itemscope => true, :itemtype => "http://schema.org/Organization"}
  %article.article{:role => "main"}
    %header
      - if params[:recruit]
        .user_message
          %p
            = "Jobbar du för #{@organizer.name}?"
          %p
            = link_to "Ansök om att bli administratör för den här sidan.", new_petition_path( :organizer_id => @organizer.id )
      
      = admin_organizer
      
      %p.category Arrangör:
      %h1{:itemprop => :name}= @organizer.name

      .header_image_container
        = image_tag(  @organizer.photo.url(:medium), 
                      :title => @organizer.photo_caption, 
                      :alt => @organizer.photo_caption,
                      :class => "header_image",
                      :width => "100%")

        - unless @organizer.photo_file_name.blank? || @organizer.photo_caption.blank?
          .image_text
            = link_to_unless @organizer.photo_url.blank?, @organizer.photo_caption, @organizer.photo_url, :rel => :nofollow
    %h3{:itemprop => :description}= @organizer.intro
    = simple_format @organizer.description 
   
    %h3= "Var är #{@organizer.name} aktiv?"
    = draw_map @markers  
    %p
      = image_tag "grn-pushpin.png", :class => :marker_legend_mid_size
      Kommande evenemang.
    %p
      = image_tag "red-pushpin.png", :class => :marker_legend_small_size
      Redan genomförda evenemang.

    %footer.event_organizer
      %h3#article_footer Kontaktinfo
      %ul
        - unless @organizer.phone.blank?
          %li
            = link_to raw("Ring <span itemprop=\"telephone\">#{@organizer.phone}\</span>"), "tel:#{CGI::escape(@organizer.phone)}" 
        - unless @organizer.website.blank?
          %li
            = link_to_unless @organizer.events.blank?, @organizer.website, @organizer.website, :itemprop => :url
        - unless @organizer.email.blank?
          %li
            -# link_to raw("Mejla <span itemprop=\"email\">#{@organizer.email}\</span>"), "mailto:#{@organizer.email}" # TODO
            
            = link_to "Mejla #{@organizer.email} (kontaktformulär)", "javascript:toggle();", :id => :display_text                        
      #toggle_text{:style => "display:none"}
        = render "mail_messages/form"

            
      %p.article_meta
        = organizer_footer
      %nav.event_admin
        %h3#article_nav 
          Jobbar du för 
          = @organizer.name + '?'
        %ul
          %li
            = link_to "Ändra arrangörssidan", edit_organizer_path 
          %li
            = link_to "Ansök om att bli administratör", new_petition_path( :organizer_id => @organizer.id )
          //%li
          //  = link_to "Marknadsför arrangören"
            
  %aside{:role => "complementary"}
    = render 'aside_show'
= organizer_meta