<%= semantic_form_for @user do |f| %>
  <%= f.error_messages %>
  <%= f.inputs do %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :organizers %>
    <p><%= f.buttons %></p>
  <% end %>
<% end %>

