<%= semantic_form_for @user do |f| %>
  <%= f.error_messages %>
  <%= f.inputs do %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <input id="user_organizer_ids_" name="user[organizer_ids][]" type="hidden" value="" />
    <%= f.input :organizers %>
    <!--http://diminishing.org/extending-formtastic-with-a-sprinkle-of-jquery -->
    <%= f.input :is_admin %>    
    <p><%= f.buttons %></p>
  <% end %>
<% end %>

