<% content_for :right_column_top do %>  
  <%= my_organizers @user %>
<% end %>   

<%= semantic_form_for @user do |f| %>
  <%= f.error_messages %>
  <%= f.inputs do %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>

    <li class="select required" id="user_email_input">
        <label for="user_email"><%= User.human_attribute_name :email%><abbr title="<%= t 'formtastic.required'%>">*</abbr></label>
        <%= @user.email %>
        <p class="inline-hints">
        <%= t 'formtastic.hints.user.email_no_change_allowed' %>
        </p>
    </li>
        
    <li class="string optional">
      <label for="user_authorized"><%= t '.is_admin_for' %></label>
      <% for organizer in @user.organizers %>
        <%= link_to organizer.name,  organizer %>
      <% end %>
    </li>

    <% unless @user.petitions.blank? %>
      <li class="string optional">
        <label for="user_applications"><%= t '.applications' %></label>
      <ul>  
        <% for organizer in @user.petition_organizers %>  
        <li><%= link_to organizer.name,  organizer %></li>  
        <% end %>  
      </ul>  
      </li>
    <%end%>

    
    
    <% if current_user.is_admin? %>
      <%= f.input :is_admin %>
      <hr />
      <h2>För systemadministratörer</h2>
      <%= f.inputs %>
    <% end %>
    <%= f.buttons %>
  <% end %>
<% end %>
