<% title t('.title') %>

<table class = "general">
  <tr>
    <th><%= User.human_attribute_name('first_name') %></th>
    <th><%= User.human_attribute_name('last_name') %></th>
    <th><%= User.human_attribute_name('email') %></th>
    
  </tr>
  <% for user in @users %>
    <tr class = <%= cycle("even", "odd") %> >
      <td><%= link_to user.first_name.to_s, user %></td>
      <td><%= link_to user.last_name.to_s, user %></td>
      <td><%= link_to user.email, user %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to t('.new'), new_user_path %></p>
