<% title t('.title') %>

<table>
  <tr>
    <th></th>
    <th></th>
    <th><%= User.human_attribute_name('first_name') %></th>
    <th><%= User.human_attribute_name('last_name') %></th>
    <th><%= User.human_attribute_name('email') %></th>
    <th></th>
  </tr>
  <% for user in @users %>
    <tr>
      <td><%= image_tag avatar_url(user) %></td>
      <td><%= link_to "Visa", user %></td>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= link_to t('app.edit'), edit_user_path(user) %></td>

    </tr>
  <% end %>
</table>

<p><%= link_to t('.new'), new_user_path %></p>
