<h1><%= title @user.name %></h1>

<% content_for :right_column_top do %>  
  <%= my_organizers current_user %>
<% end %>   

<% if current_user %>
  <% if (@user == current_user) || current_user.is_admin? %>
    <%= button_to(  t('app.edit'), 
                    edit_user_path(@user), 
                    :method => :get) %>
    <%# button_to(  t('app.destroy'), 
                    @user, 
                    :confirm => t('app.are_you_sure') + ' ' +@user.name + '?', 
                    :method => :delete )%>
  <% end %>
<%end%>


<p>
  <strong><%= t('.first_name')%>:</strong>
  <%= @user.first_name %>
</p>
<p>
  <strong><%= t('.last_name')%>:</strong>
  <%= @user.last_name %>
</p>
<%= image_tag avatar_url(@user) %>
<p>
Bilden (avataren) kommer finns på Gravatar. <%= link_to("Lägg upp en bild av dig själv, eller ändra om du redan har en bild.", "http://sv.gravatar.com/", :rel => :nofollow) %>
</p>
<p>
  <strong><%= t('.email')%>:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= t '.is_admin_for' %>:</strong>
</p>
<% unless @user.organizers.blank? %>
<ul>  
  <% for organizer in @user.organizers %>  
  <li><%= link_to organizer.name,  organizer %></li>  
  <% end %>  
</ul>  
<%else%>
  <p>Är inte medlem hos någon arrangör.</p>
<%end%>



<% unless @user.petitions.blank? %>
<p>
  <strong><%= t '.applications' %>:</strong>
</p>
<ul>  
  <% for organizer in @user.petition_organizers %>  
  <li><%= link_to organizer.name,  organizer %></li>  
  <% end %>  
</ul>  
<%end%>


<% if current_user.is_admin? %>
<hr />
<h3>För systemadminstratörer:</h3>
<p>
  <strong><%= t('.is_system_admin')%>:</strong>
  <%= t ('app.yess') if @user.is_admin %>
</p>

<% end %>
