<h1><%= title "Ditt användarkonto på Allom" %></h1>
<p>
  <b><%= t('.first_name')%>:</b>
  <%= @user.first_name %>
</p>
<p>
  <b><%= t('.last_name')%>:</b>
  <%= @user.last_name %>
</p>

<p>
  <b><%= t('.email')%>:</b>
  <%= @user.email %>
</p>


<% if current_user %>
  <% if (@user == current_user) || current_user.is_admin? %>
  <p>

    <%= link_to "Ändra användarkontot eller byt lösenord...", 
                    edit_user_path(@user) %>
  </p>

    <%# button_to(  t('app.destroy'), 
                    @user, 
                    :confirm => t('app.are_you_sure') + ' ' +@user.name + '?', 
                    :method => :delete )%>
  <% end %>
<%end%>

<p>
  <%= link_to "Logga ut", destroy_user_session_path %>
</p>


  <%= my_organizers current_user %>



<% unless @user.petitions.blank? %>
<p>
  <h3><%= t '.applications' %>:</h3>
</p>
<ul>  
  <% for organizer in @user.petition_organizers %>  
  <li><%= link_to organizer.name,  organizer %></li>  
  <% end %>  
</ul>  
<%end%>


<% unless @user.organizers.blank? %>
  <h3>Arrangörssidor och evenemangsannonser som du är administratör för</h3>  
  <% reset_cycle %>
  
  <table class ="general" >
    <thead>
      <tr>
        <th>Arrangörssida</th>
        <th>Evenemangsannons</th>
        <th>Visningar</th>
        <th>Skapad</th>
        <th>Startdatum</th>
        <th>Genom-förd</th>
      </tr>
    </thead>
    <tbody>
      <% for organizer in @user.organizers %>
          <% if organizer.events.blank? %>
            <tr class = "<%= cycle("even", "odd") %>"><td><%= link_to organizer.name, organizer %></td><td></td><td></td><td></td><td></td><td></td></tr>        
          <% end %>
        <% for event in organizer.events %>
          <tr class = "<%= cycle("even", "odd") %>">
            <td><%= link_to organizer.name, organizer %></td>
            <td><%= link_to event.subject, event %></td>
            <td><%= event.counter %></td>
            <td><%= l event.created_at, :format => :date %></td>
            <td><%= l event.start_datetime, :format => :date %></td>
            <td><%= "x" if (event.stop_datetime < Time.now) %>  </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  
  <% reset_cycle %>
<% end %>
<% if current_user.is_admin? %>
<hr />
<h3>För systemadminstratörer:</h3>
<p>
  <b><%= t('.is_system_admin')%>:</b>
  <%= t ('app.yess') if @user.is_admin %>
</p>

<% end %>
