<h1><%= title "Ditt användarkonto på Allom" %></h1>
<p>
  <strong><%= t('.first_name')%>:</strong>
  <%= @user.first_name %>
</p>
<p>
  <strong><%= t('.last_name')%>:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong><%= t('.email')%>:</strong>
  <%= @user.email %>
</p>


<% if current_user %>
  <% if (@user == current_user) || current_user.is_admin? %>
  <p>

    <%= link_to "Ändra användarkontot eller byt lösenord...", 
                    edit_user_path(@user) %>
  </p>

    <%# button_to(  t('app.destroy'), 
                    @user, 
                    :confirm => t('app.are_you_sure') + ' ' +@user.name + '?', 
                    :method => :delete )%>
  <% end %>

  <% if @user.is_admin? %>
    <p>
      Är systemadiminstratör.
    </p>
  <% end %>

  <% if current_user.is_admin?%>
    <% if @user.is_admin? %>
      <p>
        <%= button_to  "Ta bort systemaadministratörsskapet",  coronate_user_path(@user, :is_admin => 0), :method => :put, :confirm => "Är du säker på att du vill ta bort systemadministratörsskapet från #{@user.name}?" %>
      </p>
    <% else %>
    <p>
      <%= button_to  "Gör till systemadministratör",  coronate_user_path(@user, :is_admin => 1), :method => :put, :confirm => "Är du säker på att du vill göra #{@user.name} till systemadministratör?" %>    
      </p>      
    <% end %>
  <% end %>    
<%end%>

<p>
  <%= link_to "Logga ut", destroy_user_session_path %>
</p>

<% unless @user.petitions.blank? %>

  <h3><%= t '.applications' %>:</h3>

<ul>  
  <% for organizer in @user.petition_organizers %>  
  <li><%= link_to organizer.name,  organizer %></li>  
  <% end %>  
</ul>  
<%end%>


<% unless @user.organizers.blank? %>
  <h3>Arrangörssidor och evenemangsannonser som du är administratör för</h3>  
  <% reset_cycle %>
  
  <table class ="general" >
    <thead>
      <tr>
        <th>Arrangörssida</th>
        <th>Evenemangsannons</th>
        <th>Visningar</th>
        <th width="13%">Skapad</th>
        <th width="13%">Startdatum</th>
        <th>Genomförd</th>
      </tr>
    </thead>
    <tbody>
      <% for organizer in @user.organizers %>
          <% if organizer.events.blank? %>
            <tr class = "<%= cycle("even", "odd") %>"><td><%= link_to organizer.name, organizer %></td><td></td><td></td><td></td><td></td><td></td></tr>        
          <% end %>
        <% for event in organizer.events %>
          <tr class = "<%= cycle("even", "odd") %>">
            <td><%= link_to organizer.name, organizer %></td>
            <td><%= link_to event.subject, event %></td>
            <td><%= event.counter %></td>
            <td><%= l event.created_at, :format => :date %></td>
            <td><%= l event.start_datetime, :format => :date %></td>
            <td><%= "x" if (event.stop_datetime < Time.now) %>  </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  
  <% reset_cycle %>
<% end %>
<% if current_user.is_admin? %>
<hr />
<h3>För systemadminstratörer:</h3>
<p>
  <strong><%= t('.is_system_admin')%>:</strong>
  <%= t ('app.yess') if @user.is_admin %>
</p>

<% end %>
