<% title @user.name %>



<p>
  <strong><%= t('.first_name')%>:</strong>
  <%= @user.first_name %>
</p>
<p>
  <strong><%= t('.last_name')%>:</strong>
  <%= @user.last_name %>
</p>
<%= image_tag avatar_url(@user) %>
<p>
  <strong><%= t('.email')%>:</strong>
  <%= @user.email %>
</p>
<% if current_user.is_admin? %>
<p>
  <strong><%= t('.is_admin')%>:</strong>
  <%= @user.is_admin %>
</p>
<% end %>
<p>
  <strong><%= t '.organizers' %>:</strong>
</p>
<ul>  
  <% for organizer in @user.organizers %>  
  <li><%= link_to organizer.name,  organizer %></li>  
  <% end %>  
</ul>  

<p>
  <%= link_to t('app.edit'), edit_user_path(@user) %> |
  <%= link_to t('app.destroy'), @user, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to t('.list'), users_path %>
</p>
