# encoding:utf-8

                     

<% content_for :right_column_top do %>
  
  <div class = "box" id="facet">
  <span class="heading"><%= t 'app.seek_event' %>:</span>
  <div id = "q-container">
    <%= form_tag({:action => 'index'}, :method => 'get' ) do %>
    <%= search_field_tag :q, params[:q] %>
    <%= submit_tag t('app.search') %>
  <% end %>
  </div>
  <p><%= link_to t('app.detailed_search'), events_path %></p>
  </div>
<% end %>
  
