= hidden_field_tag :init_lat, (@event.lat.blank? ? 62.00 : @event.lat)
= hidden_field_tag :init_lng, (@event.lng.blank? ? 16.00 : @event.lng)
= hidden_field_tag :init_zoom, ((@event.lat.blank? || @event.lng.blank?) ? "" : "1")
= hidden_field_tag :organizer_id, params[:organizer_id]

= semantic_form_for @event, :html => {:multipart => true, :novalidate => true} do |f| 
  = f.error_messages
  .mandatory_descr
    %p
      Fält som är markerade med * är obligatoriska. Alla övriga fält är frivilliga. #{link_to "Dölj alla frivilliga fält.", "javascript:toggle_optional();", :id => :hide_optional_link}

  = f.inputs do   
    = f.input :subject
    = f.input   :organizer_id, :as => :hidden
    = f.input   :organizer, :collection => @organizers, :required => true, :input_html => { :disabled => true}
    - @event.municipality = @event.organizer.default_municipality if (params[:municipality_id]).blank? 

    = f.input   :municipality, :required => true, :collection => Municipality.select_municipality, :include_blank => false 
    
    %li.optional
      %b Vad händer?
    = f.input :intro
    = select_category_tree @event.category_id, @event.errors[:category].join(", ")
    = f.input :description
    = f.input :price
    = f.input :register
    %li.optional 
      %b När händer det?
    = f.input :start_date
    = f.input :start_time
    = f.input :stop_date
    = f.input :stop_time

    %li.optional 
      %b Kontaktuppgifter
    = f.input :email, :as => :email
    = f.input :human_name
    = f.input :phone_number
    = f.input :phone_name
    - unless @event.image1_file_name.blank?
      %li.string.optional#event_existing_image1
        %label
          Nuvarande bild
        #{ image_tag @event.image1.url(:medium), :width => "100%"}
      = f.input :image1_delete, :as => :boolean
      = f.input :image1, :label => t('.replace_image')
    - else
      = f.input :image1
    = f.input :image1_caption
    = f.input :image1_url
 
    %li.optional
      %b Var händer det?
    = f.input :loc_descr
    = f.input :street 
    %li.optional
      #map_edit
    = f.input :re_geocoded_street, :input_html => { :disabled => true}
    = f.input :lat, :as => :hidden
    = f.input :lng, :as => :hidden
    
    %li.string#event_disclaimer
      %label
        Innan du sparar... 
      %p.inline-hints
        När du sparar evenemangsannonsen godkänner du <a href ="http://info.allom.se/legalt/" target = "_blank">Alloms allmänna villkor</a> (nytt fönster). Om du använder andras texter eller bilder i evenemangsannonsen måste du ha deras tillstånd. Du publicerar evenemangsannonsen med licensen <i>CC BY-SA 2.5 Sverige</i>.

  = f.actions do
    = f.action :submit, :as => :button
    = f.action :cancel, :as => :link, :label => "Avbryt, gå tillbaka"