<%= semantic_form_for @event do |f| %>
  <%= f.error_messages %>
  <%= f.inputs do %>
      <%= f.input :subject %>
      <%= f.input :intro, :input_html => {:size => 50} %>
      <%= f.input :municipality, :required => true %>
      <%= f.input :description, :input_html => {:rows => 8, :cols => 48} %>
      <%= f.input :start_datetime %>
      <%= f.input :stop_datetime %>
      <%= f.input :street %>
      <%= f.input :zip %>
      <%= f.input :city %>
      <%= f.input :loc_descr %>
      <%= f.input :lat %>
      <%= f.input :lng %>
 </p>
  <p><%= f.buttons %></p>
    
  <% end %>
<% end %>