<%= semantic_form_for @event, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  <%= f.inputs do %>
      <%= f.input :subject %>
      <%= f.input :intro, :input_html => {:size => 50} %>
      <% if @event.new_record? %> 
        <%= f.input :organizer, :required => true, :collection => current_user.organizers %>
      <% else %>
        <li class="select required" id="event_organizer_input">
        <label for="event_organizer_id"><%= t 'formtastic.labels.event.organizer'%><abbr title="<%= t 'formtastic.required'%>">*</abbr></label>
        <%= @event.organizer.name %>
        <p class="inline-hints">
        <%= t 'formtastic.hints.event.organizer_no_change_allowed' %>
        </li>        
      <% end %>
      <%= f.input :municipality, :required => true, :collection => Municipality.find(:all, :order => "name ASC")%>
      <= f.input :category, :required => true, :collection => Category.find(:all, :order => "name ASC") %>
      <%= select_category_tree @event.category_id %>
      <%= f.input :description, :input_html => {:rows => 8, :cols => 48} %>
      <hr />
      <%= f.input :start_date %>
      <%= f.input :start_time %>
      <%= f.input :stop_date %>
      <%= f.input :stop_time %>
      <hr />
      <%= f.input :email %>
      <%= f.input :email_name %>
      <%= f.input :phone_number %>
      <%= f.input :phone_name %>
      <hr />
      <%= f.input :image1 %>
      <%= f.input :image2 %>
      <%= f.input :image3 %>
      <hr />
      <%= f.input :street %>
      <%= f.input :zip %>
      <%= f.input :city %>
      <%= f.input :loc_descr %>

      <%= f.input :lat %>
      <%= f.input :lng %>
      
      <p><%= f.buttons %></p> 

    <div id="infoPanel">
    <p><%= t'.closest_address'%>:</p>
    <div id="address"></div>
  </div>
  <div id="mapCanvas"></div>
  
  <%= draggable_map_marker @event %>
  
  <% end %>
<% end %>
