<%= javascript_include_tag "geocode" %>

<%= semantic_form_for @event, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  <%= f.inputs do %>
      <%= f.input :subject %>
      <%= f.input :intro, :input_html => {:size => 50} %>
      <% if @event.new_record? %> 
        <%= f.input :organizer, :required => true, :collection => current_user.organizers %>
      <% else %>
        <%= f.input :organizer, :required => true, :collection => current_user.organizers, :input_html => { :disabled => true}%>     
      <% end %>
      <%= f.input :municipality, :required => true, :collection => Municipality.find(:all, :order => "name ASC")%>
      <%= select_category_tree @event.category_id %>
      <%= f.input :description, :input_html => {:rows => 8, :cols => 48} %>
      <hr />
      <%= f.input :start_date %>
      <%= f.input :start_time %>
      <%= f.input :stop_date %>
      <%= f.input :stop_time %>
      <hr />
      <%= f.input :email %>
      <%= f.input :email_name %>
      <%= f.input :phone_number %>
      <%= f.input :phone_name %>
      <hr />
      <%= f.input :image1 %>
      <%= f.input :image2 %>
      <%= f.input :image3 %>
      <hr />
      <%= f.input :street %>
      <div id="map_edit"></div>
      <%= f.input :re_geocoded_street, :input_html => { :disabled => true}%>
      <%= f.input :loc_descr %>

      <%= f.input :lat %>
      <%= f.input :lng %>
      <%= f.input :init_lat, :as => :hidden %>
      <%= f.input :init_lng, :as => :hidden %>
      <%= f.input :init_zoom, :as => :hidden %>
      <div class = "button_container">
        <div class= "button">
          <%= f.buttons %>
        </div>
        <div class= "reset">
        <% if @event.new_record? %> 
          <%=link_to( t('.reset'), 
                      new_event_path, 
                      :confirm => t('.do_you_really_want_to_reset_me')) 
                      %>
        <% else %>
          <%=link_to( t('.cancel'), 
                      event_path, 
                      :confirm => t('.do_you_really_want_to_cancel_me')) 
                      %>
        <% end %>
        </div>
      </div>
  <% end %>
<% end %>
