<% set_meta_tags :title => t('.page_title'),
                   :description => t('.meta_description') %>

<% content_for :head do %>  
  <%= auto_discovery_link_tag( :rss, events_url(:format => 'rss') , {:title => t('.rss_title') }) %>
<% end %> 

    <h1>Allt som händer innan det är försent.</h1>
    

<hr />

<%= form_tag({:action => 'index'}, :method => 'get' ) do %>
<%= text_field_tag :q, params[:q] %> 
<%= submit_tag 'Search' %>
<%end%>



<% unless @events.blank? %>
<table border = "1">
  <tr>
    <td>Subject</td>
    <td>Intro</td>
    <td>Description</td>
    <td>Category</td>
    <td>Organizer</td>
    <td>Municipality</td>
  </tr>
  <% for event in @events%>
  <tr>
    <td><%=event.subject%></td>
    <td><%=event.intro%></td>
    <td><%=event.description%></td>
    <td><%=event.category.try :name%></td>
    <td><%=event.organizer.name%></td>
    <td><%=event.municipality.name%></td>
  </tr>
  <% end %>

</table>
<%end%>
<hr />

    
<% if @events.blank? %>  
  <p>Just nu hittar vi inte några inplanerade evenemang. </p>
<% else %>
  <%= calendar @events%>
<% end %> 

<p>

<%= link_to(t('.subscribe_rss'), events_url(:only_path => false, :format => :rss) )  %>
<%= link_to image_tag("rss_icon.gif", :alt => t('.rss_alt')), events_url(:only_path => false, :format => :rss) %>
</p>


