.content
  %article.article{:role => "main"}
    %header
      -# render "flashes"   
    .search_container
      .search_box
        .search_heading
          - unless params[:q].blank? && params[:stop].blank? && params[:start].blank? && params[:c1_id].blank? && params[:c2_id].blank? && params[:c2_id].blank? && params[:organizer_id].blank? && params[:municipality_id].blank? && params[:cl].to_i == 0 && params[:ml].to_i == 0 && @to_date.blank? && @from_date.beginning_of_day == Time.zone.now.beginning_of_day
            .search_label
              Sök evenemang, ...
            .clear_link
              = link_to "rensa sökningen", events_path
          - else
            .search_label
              Sök evenemang, ämne, plats, ...
                    
        = form_tag({:action => 'index'}, :method => 'get' )            
        = search_field_tag :q, params[:q], :placeholder => "t.ex: bio stallarholmen"   
        = hidden_field_tag :municipality_id, params[:municipality_id]
        = hidden_field_tag :organizer_id, params[:organizer_id]
        = hidden_field_tag :c1_id, params[:c1_id]
        = hidden_field_tag :c2_id, params[:c2_id]
        = hidden_field_tag :c3_id, params[:c3_id]
        = hidden_field_tag :start, params[:start]
        = hidden_field_tag :stop, params[:stop]
        = hidden_field_tag :cl, params[:cl]
        = hidden_field_tag :ml, params[:ml]
        
        .submit_row 
          = submit_tag "Sök", :id => :event_search     
      .three_cols
        - unless params[:organizer_id].blank?
          .facet_organizer
            %h5 arrangör
            %ul
              - for row in @organizer_facet_rows
                %li.selected_facet
                  %a{:href => url_for(params.merge({:organizer_id => nil})), :title => "Visa alla arrangörer..."}
                    %span.cancel_facet x
                    %span= "#{row.instance.to_s} (#{row.count.to_s})"
        .facet_column_category
          %h5 vad/ämne
          %ul
            - for row in @c1_facet_rows
              - if row.value.to_i == params[:c1_id].to_i
                %li.selected_facet
                  %a{:href => url_for(params.merge({:c1_id => nil, :c2_id => nil})), :title => "Visa fler ämnen..."}
                    %span.cancel_facet x
                    %span= "#{row.instance.to_s}"
              - else
                %li
                  = link_to "#{row.instance.to_s} (#{row.count.to_s})", params.merge({:c1_id => row.instance.id}), :title => "Sök evenemang bara i kategorin #{row.instance.to_s}."
            - unless @c1_facet_rows.blank? || params[:c1_id].blank?
              - for row in @c2_facet_rows
                - if row.value.to_i == params[:c2_id].to_i
                  %li.selected_facet
                    %a{:href => url_for(params.merge({:c2_id => nil})), :title => "Visa fler ämnen..."}
                      %span.cancel_facet x
                      %span= "#{row.instance.to_s}"
                - else
                  %li
                    = link_to "#{row.instance.to_s} (#{row.count.to_s})", params.merge({:c2_id => row.instance.id}), :title => "Sök evenemang bara i kategorin #{row.instance.to_s}."   
            - if (@c1_facet_rows.count > (params[:cl].to_i + 5))      
              %li.more_facets              
                =link_to( "• • •", params.merge({:cl => params[:cl].to_i + 7}), :title => "Visa fler ämneskategorier... ")                                                
            
        .facet_column_time
          %h5 när/datum
          %ul
            - for row in @stop_facet_rows
              - if row.value == params[:stop]
                %li.selected_facet
                  %a{:href => url_for(params.merge({:stop => nil})), :title => "Visa fler tidsperioder..."}
                    %span.cancel_facet x
                    %span= "#{t('when_facet.' + row.value.to_s)}"
              - else
                %li
                  = link_to "#{t('when_facet.' + row.value.to_s)} (#{row.count.to_s})", params.merge({:stop => row.value}), :title => "Sök evenemang bara i #{t('when_facet.' + row.value.to_s)}."

            - if Timeliness.parse(@from_date).blank? 
              %li.facet_field
                Från och med:<br>
                - if Timeliness.parse(@to_date).blank?
                  = text_field_tag :from, l(Time.zone.now, :format => :text), :size => 11
                - else
                  = text_field_tag :from, "", :size => 11, :type => :text
            - else
              %li.facet_field.selected_facet
                %a{:href => url_for(params.merge({:from => nil})), :title => "Visa från dagens datum och framåt."}
                  %span.cancel_facet x
                  Från och med:<br>
                  - from_date = Timeliness.parse(@from_date)
                - unless from_date.blank?
                  = text_field_tag :from, l(from_date, :format => :date), :size => 11, :type => :text              
                - else
                  = text_field_tag :from, "", :size => 11, :type => :text

            - if Timeliness.parse(@to_date).blank?
              %li.facet_field
                Till och med:<br>
                =text_field_tag :to, "", :size => 11, :type => :text
            - else
              %li.facet_field.selected_facet
                %a{:href => url_for(params.merge({:to => nil})), :title => "Visa evenemang som ligger längre fram i tiden också."}
                  %span.cancel_facet x
                  Till och med:<br>
                =text_field_tag :to, l(Timeliness.parse(@to_date), :format => :date), :size => 11, :type => :text
              
        .facet_column_location
          %h5 var/ort 
          %ul
            - for row in @municipality_facet_rows
              - if row.value.to_i == params[:municipality_id].to_i
                %li.selected_facet
                  %a{:href => url_for(params.merge({:municipality_id => nil})), :title => "Visa fler platser..."}
                    %span.cancel_facet x
                    %span= "#{row.instance.to_s}"
              - else
                %li
                  = link_to "#{row.instance.to_s} (#{row.count.to_s})",params.merge({:municipality_id => row.instance.id}), :title => "Sök evenemang bara i #{row.instance.to_s}."
            - if (@municipality_facet_rows.count > (params[:ml].to_i + 5))      
              %li.more_facets              
                =link_to( "• • •", params.merge({:ml => params[:ml].to_i + 7}), :title => "Visa fler platser... ")                   

    .todo
      = paginate @events
               
    - unless @events.blank?
      %p.todo Här är #{@events.count} av #{@hit_numbers} evenemang:

      %table.mini_calendar
        %tbody
          - for event in @events
            %tr{:itemscope => true, :itemtype => "http://schema.org/Event"}
              %td.sheet
                <a href='#{event_path event}' title='#{event.subject}. #{event.intro}'>
                .calendar_day
                  .weekday #{l(event.start_datetime, :format => :abbr_day_of_week)}
                  .day_of_month #{l(event.start_datetime, :format => :day_of_month)}
                  .month #{l(event.start_datetime, :format => :abbr_month_of_year)}
                </a>
              %td.event
                - if event.start_datetime.beginning_of_year == Time.zone.now.beginning_of_year
                  = link_to "#{event.subject} (#{event.category.name}). #{event.organizer.name}, #{event.municipality.short_name}. Kl #{l(event.start_datetime, :format => :time)}.", event_path(event), :title => event.intro, :itemprop => :url
                - else
                  = link_to "#{event.subject} (#{event.category.name}). #{event.organizer.name}, #{event.municipality.short_name}.  #{l(event.start_datetime)}.", event_path(event), :title => event.intro, :itemprop => :url                  
                <meta itemprop="startDate" content="#{l(event.start_datetime, :format => :machine)}">
                <meta itemprop="description" content="#{event.intro}}">
                <meta itemprop="name" content="#{event.subject}}">
                <meta itemprop="performer" content="#{event.organizer.name}}">
                <meta itemprop="addressLocality" content="#{event.location}}">
      .todo
        %p
          = paginate @events
      %p.todo
        - if params[:q].present? || params[:municipality_id].present? || params[:organizer_id].present? || params[:start].present? || params[:stop].present? || params[:c1_id].present? || params[:c2_id].present? || params[:c3_id].present?
          = link_to "Rensa sökningen och visa alla evenemang.", events_path  
    - else
      - if params[:q].present? || params[:municipality_id].present? || params[:organizer_id].present? || params[:start].present? || params[:stop].present? || params[:c1_id].present? || params[:c2_id].present? || params[:c3_id].present?
        %p 
          Nej, vi hittar inga evenemang som matchar det du söker efter. Sorry. 
        %p
          = link_to "Rensa sökningen och börja om med att visa alla evenemang? ", events_path
      - else
        %p Nej, hur konstigt det än verkar vara så hittar vi inte några evenemang alls. Har du sökt med så hårda villkor att det inte blir några träffar? Eller har vi strulat till något?
    %p.todo #{ link_to "Lägg in ett evenemang...", new_event_path }

    - if params != {"controller"=>"events", "action"=>"index"}
      - rss_url = url_for events_path( :format => :rss, :only_path =>false, :q => params[:q], :c1_id => params[:c1_id], :c2_id => params[:c2_id], :c3_id => params[:c3_id], :municipality_id => params[:municipality_id], :organizer_id => params[:organizer_id], :stop => params[:stop], :start => params[:start], :from => params[:from], :to => params[:to]) 
      .subscribe_container
        .subscribe_icon
          = link_to image_tag("rss-icon-32x32.png", :alt => "Flöde med alla evenemang som matchar den här sökningen", :title => "Prenumerera på RSS-flöde med Alloms evenemang som matchar den här sökningen."), rss_url
        .subscribe_text
          =link_to "RSS-flöde med Alloms evenemang som matchar den här sökningen.", rss_url
      %br
    .subscribe_container
      .subscribe_icon
        = link_to image_tag("rss-icon-32x32.png", :alt => "Flöde med alla evenemang.", :title => "Prenumerera på RSS-flöde med Alloms alla evenemang i din RSS-läsare eller visa evenemangen i din blogg."), :format => :rss, :only_path => false
      .subscribe_text.todo
        =link_to "Alla Alloms evenemang som RSS-flöde."  , :format => :rss, :only_path => false
          
  %aside{:role => "complementary"}
    = render 'aside_index'

- set_meta_tags :title => query_to_string("Allom - evenemangskalender för alla sorters evenemang och aktiviteter."), :description => "Hitta saker att göra. Lägg in dina evenemang på evenemangskalendern Allom. Snabbt och enkelt. Kostnadsfritt konto. " + query_to_string, :canonical => "http://allom.se", :open_graph => {:title => "Allom - evenemangskalendern", :description => "Evenemangskalendern för alla sorters evenemang i Sverige.", :type => "activity", :url => "http://allom.se", :site_name => "Allom - evenemangskalendern", :image => "http://allom.se"+image_path( "evenemangskalendern-allom-evenemang.png")}

- content_for :head do 
  = auto_discovery_link_tag( :rss, events_url(:format => 'rss') , {:title => t('.rss_title') }) 



