# encoding:utf-8
<% set_meta_tags :title => t('.page_title'),
                   :description => t('.meta_description') %>

<% content_for :head do %>  
  <%= auto_discovery_link_tag( :rss, events_url(:format => 'rss') , {:title => t('.rss_title') }) %>
    <link rel = "canonical" href="<%= t('app.site_url')  %>/" /> 
<% end %> 

    <h1>
      <% unless params[:q].blank? && params[:category_facet_id].blank? && params[:municipality_id].blank? && params[:organizer_id].blank? %> 
        <% unless params[:organizer_id].to_i == 0 %>
          <%= link_to Organizer.find(params[:organizer_id].to_i).s, Organizer.find(params[:organizer_id]) %>
        <% end %>
   
        <%= params[:q] %> 
        <% unless params[:category_facet_id].to_i == 0 %>
          <%= Category.find(params[:category_facet_id].to_i).name %>
        <% end %>
         evenemang
        <% unless params[:municipality_id].to_i == 0 %>
          i <%= Municipality.find(params[:municipality_id].to_i).short_name %>
        <% end %>
        
      <% else %>
        <%= t '.subject' %>
      <% end %>
    </h1>

<% content_for :right_column_top do %>

  <div class = "box">
  <span class="heading">Hej arrangör!</span>
  Vill du prova att kostnadsfritt annonsera dina evenemang här på Allom? Vi guidar dig hela vägen. <%= link_to "Börja nu.", new_event_path %>
  </div>
  <div class = "box" id="facet">
  <span class="heading"><%= t 'app.seek_event' %>:</span>
  <div id = "q-container">
    <%= form_tag({:action => 'index'}, :method => 'get' ) do %>
    <%= search_field_tag :q, params[:q] %>
    <%= submit_tag t('app.search') %>
  <% end %>
  </div>
  <%= facet_search %>
  <p>
  <% if params[:q] || params[:category_facet_id] || params[:organizer_id] || params[:municipality_id] || params[:stop] %>
    <%= link_to(  t('.subscribe_rss'), 
                  :only_path => false,
                  :format => :rss,
                  :q => params[:q], 
                  :stop => params[:stop],
                  :category_facet_id => params[:category_facet_id],
                  :organizer_id => params[:organizer_id],
                  :municipality_id => params[:municipality_id] ) %>

    <%= link_to image_tag("rss_icon.gif", 
                :alt => t('.rss_alt')), 
                events_url( :only_path => false, 
                            :format => :rss, 
                            :q => params[:q], 
                            :stop => params[:stop],
                            :category_id => params[:category_id], 
                            :municipality_id => params[:municipality_id], 
                            :organizer_id => params[:organizer_id]) %>
    
  <% else %>
    <%= link_to(t('layouts.application.subscribe_rss'), events_url(:only_path => false, :format => :rss) )  %>  
    <%= link_to image_tag("rss_icon.gif", :alt => t('layouts.application.rss_alt')), events_url(:only_path => false, :format => :rss) %>
  <% end %>
    </p>
  </div><!-- /facet -->
<% end %>
  
  
<% if @events.blank? %>  
  <p><%= t '.no_events'%></p>
<% else %>
  <%= will_paginate(
    :renderer => CustomPaginationLinkRenderer,
    :first_label => t('will_paginate.first'),
    :previous_label => t('will_paginate.previous'),
    :next_label => t('will_paginate.next'),
    :last_label => t('will_paginate.last'),
    :summary_label => " %d #{t('will_paginate.to')} %d #{t('will_paginate.of')} %d "
                    ) %>
  <%= calendar @events %>
  <%= will_paginate(
    :renderer => CustomPaginationLinkRenderer,
    :first_label => t('will_paginate.first'),
    :previous_label => t('will_paginate.previous'),
    :next_label => t('will_paginate.next'),
    :last_label => t('will_paginate.last'),
    :summary_label => " %d #{t('will_paginate.to')} %d #{t('will_paginate.of')} %d "
                    ) %>
<% end %> 



<% content_for :disclaimer do %>
<div class = "license">
<a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/se/" title = "CC BY-SA 2.5 Sverige">
  <img alt="Creative Commons-licens" src="http://i.creativecommons.org/l/by-sa/2.5/se/88x31.png" />
</a> 
<br />

Evenemangsannonser och arrangörssidor (text & bilder) är licensierade under en <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/se/">Creative Commons Erkännande-DelaLika 2.5 Sverige Licens</a>. 

<a href = "http://info.allom.se/legalt/" title="Alloms allmänna villkor och upphovsrätt">Hur får jag använda eller återpublicera?</a>

</div>
<% end %>

<%= open_graph_properties "Allom - kalendern med allt som händer innan det är för sent", 
                          "http://allom.se/img/liten-logotyp-allom-v1.png", 
                          t('app.site_url') %>