<% set_meta_tags :title => t('.page_title'),
                   :description => t('.meta_description') %>

<% content_for :head do %>  
  <%= auto_discovery_link_tag( :rss, events_url(:format => 'rss') , {:title => t('.rss_title') }) %>
<% end %> 

    <h1>Allt som händer innan det är försent.</h1>

<% content_for :right_column_facet do %>
  <div class = "box" id="facet">
  <span class="heading"><%= t '.seek_event' %>:</span>
  <%= form_tag({:action => 'index'}, :method => 'get' ) do %>
    <%= search_field_tag :q, params[:q] %>
    <%= submit_tag t('.search') %>
  <% end %>
  <%= facet_search %>
<% end %>
    
  
<% if @events.blank? %>  
  <p>Just nu hittar vi inte några inplanerade evenemang. </p>
<% else %>
  <%= will_paginate(
    :renderer => GmailPaginationLinkRenderer,
    :first_label => t('will_paginate.first'),
    :previous_label => t('will_paginate.previous'),
    :next_label => t('will_paginate.next'),
    :last_label => t('will_paginate.last'),
    :summary_label => " %d #{t('will_paginate.to')} %d #{t('will_paginate.of')} %d "
                    ) %>
  <%= calendar @events %>
  <%= will_paginate(
    :renderer => GmailPaginationLinkRenderer,
    :first_label => t('will_paginate.first'),
    :previous_label => t('will_paginate.previous'),
    :next_label => t('will_paginate.next'),
    :last_label => t('will_paginate.last'),
    :summary_label => " %d #{t('will_paginate.to')} %d #{t('will_paginate.of')} %d "
                    ) %>
<% end %> 





<p>

<%= link_to(t('.subscribe_rss'), events_url(:only_path => false, :format => :rss, :q => params[:q], :category_id => params[:category_id], :municipality_id => params[:municipality_id], :organizer_id => params[:organizer_id]) )  %>
<%= link_to image_tag("rss_icon.gif", :alt => t('.rss_alt')), events_url(:only_path => false, :format => :rss, :q => params[:q], :category_id => params[:category_id], :municipality_id => params[:municipality_id], :organizer_id => params[:organizer_id]) %>
</p>
