<% title t('.title') %>

<% content_for :head do %>  
  <%# Fix this row, set up rss url and title somehere %>
  <%= auto_discovery_link_tag(:rss, "http://127.0.0.1:3000/events.rss", {:title => "Kalendern RSS"}) %>
<% end %> 

<table>
  <% for event in @events %>
    <tr>
      <td><%= event.start_date %></td>
      <td><strong><%= link_to event.subject, event %></strong></td>
      <td><%= event.intro %></td>
      <td><%= event.start_time %></td>
      <td><%= link_to event.municipality_short, event.municipality %><abbr title="<%= event.municipality.number_of_upcoming_events %><%= t '.no_of_events_per_municipality' %>">(<%= event.municipality.number_of_upcoming_events %>)
        </abbr></td>
      <td><%= link_to event.organizer.name, event.organizer %><abbr title="<%= event.organizer.number_of_upcoming_events %><%= t '.no_of_events_per_organizer' %>">
            (<%= event.organizer.number_of_upcoming_events %>)
        </abbr>
      </td>
   </tr>
  <% end %>
</table>
<p>
<%= link_to t('.subscribe_rss'), "/events.rss" %>  
<%= link_to image_tag("rss_icon.gif"), "/events.rss" %>
</p>

<% if current_user%>
  <p><%= link_to t('.new_organizer'), new_organizer_path %>
  <% unless current_user.organizers.empty? and !current_user.is_admin? %>
    <p><%= link_to t('.new'), new_event_path %></p>
  <% end %>

<% end %>
