<% title t('events.index.title') %>

<table>
  <!--
  <tr>
    <th>Date</th>
    <th>Subject</th>
    <th>Intro</th>
    <th>Start Time</th>
    <th>Municipality</th>
  </tr>
  -->
  <% for event in @events %>
    <tr>
      <td><%= event.start_date %></td>
      <td><strong><%= link_to event.subject, event %></strong></td>
      <td><%= event.intro %></td>
      <td><%= event.start_time %></td>
      <td><%= event.municipality_short %></td>
      <td><%= event.organizer %>
    </tr>
  <% end %>
</table>

<p><%= link_to t('.new'), new_event_path %></p>
