.content
  %article{ :class => :article, :role => :main}
    %h1= title "Ny evenemangsannons" 
    %p
      Allom pilotkör för att trimma in. Under tiden kostar det inte något att lägga upp evenemangsannonser. Du som är med och hjälper oss att utvärdera Allom nu kommer att få lägga in evenemangsannonser kostnadsfritt till slutet av 2012.
    - if @event.organizer_id.nil?  
      - unless @organizers.blank? 
        - bullet_no = 0 
        %p
          Varje evenemangsannons hänger ihop med en arrangörssida. Varje arrangör på Allom har var sin arrangörssida. En arrangör kan vara du som privatperson, en förening, ett företag, en myndighet eller egentligen vilken sammanslutning som helst.
        %p
          Det kostar inte något att ha en arrangörssida.
        %h3 Alternativ #{bullet_no +=1}: Arrangören har en sida på Allom och du är administratör.
          
        %p Välj arrangör:
        %ul
        - for organizer in @organizers
          %li= link_to organizer.name, new_event_path(:organizer_id => organizer.id)
      %h3 Alternativ #{bullet_no +=1}: Arrangören har en sida på Allom men du är <i>inte</i> administratör.
      %p
        = link_to "Leta reda på arrangören och bli administratör...", organizers_path(:recruit => true)
        
      %h3 Alternativ #{bullet_no +=1}: Arrangören har inte någon sida på Allom.
      %p  Kontrollera först att arrangören inte redan har en sida, så du undviker dubletter.
      %p= link_to "Jag vill skapa en arrangörssida...", new_organizer_path 
    - else 
      = render 'form'