# encoding: UTF-8
<% title t '.title' %>
<% if @event.organizer_id.nil? %> 
  <% unless @organizers.blank? %>
    <h3><%= t '.which_organizer' %> </h3>
    <ul>
    <% for organizer in @organizers %>
      <li><%= link_to organizer.name, new_event_path(:organizer_id => organizer.id)  %></li>
    <% end %>
    </ul>
    <p><%= t '.or_other_options' %>:</p>
  <% else %>
    <h1><%= t '.not_organizer' %></h1>
    <p><%= t '.add_organizer_now' %></p>
    <p><%= t '.select' %></p>
  <% end %>
    <p><%= link_to t('.apply_for_organizer'), organizers_path(:recruit => true) %></p>
    <p><%= link_to t('.create_organizer1'), new_organizer_path %></p>
<% else %>
  <%= render 'form' %>
<% end %>
