.content{:itemscope => true, :itemtype => "http://schema.org/Event"}
  %article.article{:role => "main"}
    %header
      
      - if @event.stop_datetime < Time.now
        .ceased
          =image_tag "warning_sign.png"
          .sign 
            Det här evenemanget har redan varit.

      - #render "flashes"
      
      - if params[:recruit]
        .user_message
          %p
            = "Jobbar du för #{@event.organizer.name}?"
          %p
            = link_to "Ansök om att bli administratör.", new_petition_path( :organizer_id => @event.organizer.id )
                  
      = admin_event
      
      %h1{:itemprop => :name}= @event.subject

      .header_image_container
        = image_tag(  @event.image1.url(:medium), 
                      :title => @event.image1_caption, 
                      :alt => @event.image1_caption,
                      :class => "header_image",
                      :width => "100%")

        - unless @event.image1_file_name.blank? || @event.image1_caption.blank?
          .image_text
            = link_to_unless @event.image1_url.blank?, @event.image1_caption, @event.image1_url, :rel => :nofollow
    %p.category
      = @event.category.name.capitalize
    %p #{@event.duration.capitalize} i #{@event.municipality.name}
    
    - unless @event.intro.blank?
      %h2{:itemprop => :description}= @event.intro
      
    //%a.call_to_action{:href => "", :title => ""}
    //  Anmäl dig/köp biljett...
    
    = simple_format @event.description 
    
    .event_facts
      - unless @event.price.blank?
        %p 
          %span.inline_heading
            Pris: 
          = @event.price
      - unless @event.register.blank?
        %p 
          %span.inline_heading
            Anmälan: 
          = @event.register

      .div{:itemprop => "address", :itemscope => true, :itemtype => "http://schema.org/Place"}
        - unless @event.loc_descr.blank?
          %p
            %span.inline_heading
              Plats: 
            %span{:itemprop => :name}
              = @event.loc_descr
               
        - unless @event.street.blank?  
          %p
            %span.inline_heading{:itemprop => "address", :itemscope => true, :itemtype => "http://schema.org/PostalAddress" }
              Adress: 
            %span{:itemprop => "streetAddress"}
              = @event.street
        - unless @event.lat.nil? || @event.lng.nil?  
          = draw_map @markers          
          %p
            %span.inline_heading{:itemprop => "geo", :itemscope => true, :itemtype => "http://schema.org/GeoCoordinates"}
              <meta itemprop="latitude" content="#{@event.lat}" />
              <meta itemprop="longitude" content="#{@event.lng}" />
              Latitud/longitud:
            = @event.lat_lng
        
          = link_to "Google Maps för platsen", "http://maps.google.com/maps?q=#{@event.lat},#{@event.lng}", :class => :major
        - else
          %p &nbsp;
          %p Kartplats för evenemanget saknas.
          - if current_user
            - if current_user.authorized? @event.organizer
              = link_to "Lägg in platsen på kartan genom att ange en adress."
    
    = link_to "Spara i din Outlook eller kalender", event_path(@event, :format => :ics), :title => "Spara evenemanget i Outlook eller annan kalender som ical.", :class => :major

    %h3#article_footer Kontakta
    %ul.event_organizer
      - unless @event.phone_number.blank?
        %li
          = link_to "Ring #{@event.phone_name}: #{@event.phone_number}", "tel:#{CGI::escape(@event.phone_number)}"
      %li
        = link_to "Mejla #{@event.human_name} (kontaktformulär)", "javascript:toggle();", :id => :display_text
    #toggle_text{:style => "display:none"}
      = render "mail_messages/form"
    %h3 Fler evenemang i samma kategorier
    %ul.event_type
      %li
        = link_to "#{@event.category1.capitalize} (#{Category.find(@event.c1_id).number_of_upcoming_events})", "/?c1_id=#{@event.c1_id}", :title => "Alla evenemang inom #{@event.category1} på Allom."
      -unless @event.category2.blank? || @event.c2_id.to_i == 0
        %li
          = link_to "#{@event.category2.capitalize} (#{Category.find(@event.c2_id).number_of_upcoming_events})", "/?c2_id=#{@event.c2_id}", :title => "Alla evenemang inom #{@event.category1} på Allom."
      %li
        = link_to "#{@event.municipality.name} (#{@event.municipality.upcoming_events.count})", @event.municipality, :title => "Alla evenemang i #{@event.municipality.name} på Allom."
      %li
        = link_to "#{@event.organizer.name} (#{@event.organizer.upcoming_events.count})", @event.organizer, :title => "Alla #{@event.organizer.s} evenemang på Allom."

    %footer
      %p.article_meta
        = event_footer 
      %p.article_meta
        =link_to image_tag("cc-by-sa.png"), "http://creativecommons.org/licenses/by-sa/2.5/deed.sv", :rel => :nofollow, :title => "Licens: Creative Commons CC(BY-SA)", :alt => "Ikon för licensen Creative Commons CC(BY-SA)"
        Evenemangsannonsens texter & bilder är licensierade av arrangören under Creative Commons Erkännande-DelaLika 2.5 Sverige Licens, CC (BY-SA)

      %nav.event_admin
        %h3#article_nav Jobbar du för #{@event.organizer.name}?
        %ul.event_organizer
          %li
            = link_to "Ändra evenemangsannonsen", edit_event_path
          - if current_user
            - unless current_user.authorized? @event.organizer
              %li
                = link_to "Ansök om att bli administratör", new_petition_path( :organizer_id => @event.organizer.id )
          - else
            %li
              = link_to "Ansök om att bli administratör", new_petition_path( :organizer_id => @event.organizer.id )
          
            
  %aside{:role => "complementary"}
    %h3.aside_top 
      Dela med dig av evenemanget!
    = share_me
    %h3 Arrangören
    - unless @event.organizer.logotype_file_name.blank?
      = link_to image_tag( @event.organizer.logotype.url(:medium), :width => "100%", :alt => "#{@event.organizer.s} logotyp"), organizer_path(@event.organizer), :title => "Till #{@event.organizer.s} arrangörssida på Allom."
    -else
      %span.event_organizer
        = link_to @event.organizer.name, organizer_path(@event.organizer), :title => "Till arrangörens sida på Allom."
    
    %p= link_to @event.organizer.intro, organizer_path(@event.organizer), :class => :ununderline
    
    - unless @event.organizer.upcoming_events.blank?
      %h3 #{@event.organizer.s} kommande evenemang
      %table.mini_calendar
        %caption #{@event.organizer.s} kommande evenemang
        %tbody
          -for event in @event.organizer.upcoming_events
            %tr
              %td.sheet
                %a{:href => '#{event_path event}', :title => '#{event.subject}. #{event.intro}'}
                  .calendar_day
                    .weekday #{l(event.start_datetime, :format => :abbr_day_of_week)}
                    .day_of_month #{l(event.start_datetime, :format => :day_of_month)}
                    .month #{l(event.start_datetime, :format => :abbr_month_of_year)}
              %td.event
                = link_to "Kl #{l(event.start_datetime, :format => :time)}: #{event.subject} (#{event.category.name}). #{event.municipality_short}.", event_path(event), :title => "#{event.intro}"

    = page_counter @event.counter    

= event_meta
