<% title (@event.subject + " | " + @event.organizer.name) %>

<p>
  <%= t('app.arranged_by') %>: <%= link_to @event.organizer.name, @event.organizer %>  <%= t('app.in_municipality') %> <%= link_to @event.municipality.name, @event.municipality %>
</p>

<h1>
  <%= @event.subject %>
</h1>


<p>
  <%= @event.intro %>
</p>
<p>
  <strong>När:</strong><br/ >
  <%= @event.duration %>
</p>
<p>
  <strong>Beskrivning:</strong> <br />
  <%= @event.description %>
</p>

<p>
  <strong>Adress:</strong><br />
  <%= @event.street %><br /> 
  <%= @event.zip%>&nbsp;&nbsp;<%= @event.city %>
</p>
<p>
  <strong>Vägbeskrivning:</strong><br />
  <%= @event.loc_descr %>
</p>
<!--
<p>
  <strong>Lat:</strong>
  <%= @event.lat %>
</p>
<p>
  <strong>Lng:</strong>
  <%= @event.lng %>
</p>
-->

<p>
  <%= link_to t('app.edit'), edit_event_path(@event) %> |
  <%= link_to t('app.destroy'), @event, :confirm => t('app.are_you_sure') + ' ' +@event.subject + '?', :method => :delete %> |
  <%= link_to t('.list'), events_path %>
</p>