.content{:itemscope => true, :itemtype => "http://schema.org/Event"}
  %article.article{:role => "main"}
    %header
      %p#breadcrumbs{:itemprop => "breadcrumb"}
        %span #{link_to(@event.category1.capitalize, events_url(:c1_id => @event.c1_id))} 
        > 
        - if @event.category2
          %span #{link_to(@event.category2.capitalize, events_url(:c1_id => @event.c1_id, :c2_id => @event.c2_id))} 
          > 
        %span #{link_to(@event.organizer.name, organizer_url(@event.organizer))} 
        > 
        %span #{link_to(@event.municipality.short_name, municipality_path(@event.municipality))} 
        > 
        %span #{link_to(@event.subject, event_url(@event))}
      
      - if @event.stop_datetime < Time.now
        .ceased
          =image_tag "warning_sign.png"
          .sign 
            Det här evenemanget har redan varit.

      - #render "flashes"
      
      - if params[:recruit]
        .user_message
          %p
            = "Jobbar du för #{@event.organizer.name}?"
          %p
            = link_to "Ansök om att bli administratör.", new_petition_path( :organizer_id => @event.organizer.id )
                  
      = admin_event
      
      %h1{:itemprop => :name}= @event.subject

      .header_image_container
        - if @event.image1.exists? || @event.organizer.photo.blank?
          = image_tag(  @event.image1.url(:medium), 
                        :title => (@event.image1_caption ? @event.image1_caption : "#{@event.subject} – #{@event.intro}" ), 
                        :alt => (@event.image1_caption ? @event.image1_caption : "#{@event.subject} – #{@event.intro}" ),
                        :class => "header_image",
                        :width => "100%")            
          - unless @event.image1_caption.blank?
            %meta{:itemprop => "image", :content => @event.image1.url(:small) }
            .image_text
              = link_to_unless @event.image1_url.blank?, @event.image1_caption, @event.image1_url, :rel => :nofollow
        - else 
          = image_tag( @event.organizer.photo.url(:medium), 
              :title => (@event.organizer.photo_caption.blank? ? "#{@event.subject} – #{@event.intro}" : @event.organizer.photo_caption), 
              :alt => (@event.organizer.photo_caption.blank? ? "#{@event.subject} – #{@event.intro}" : @event.organizer.photo_caption),
              :class => "header_image",
              :width => "100%")
          - unless @event.organizer.photo_file_size.to_i > 0 || @event.organizer.photo_caption.blank?
            .image_text
              = link_to_unless @event.organizer.photo_url.blank?, @event.organizer.photo_caption, @event.organizer.photo_url, :rel => :nofollow
        
        
    %p.category
      = @event.category.name.capitalize
    %p #{@event.duration.capitalize} i #{@event.municipality.name}
    %meta{:itemprop => "startDate", :content => @event.start_datetime.iso8601 }
    - unless (@event.start_datetime == @event.stop_datetime) 
      %meta{:itemprop => "endDate", :content => @event.stop_datetime.iso8601 }
    
    - unless @event.intro.blank?
      %h2{:itemprop => :description}= @event.intro
    %meta{:itemprop => :url, :content => event_path(@event, :only_path => false) }
    - unless @event.application_url.blank?
      = link_to "Anmäl dig/köp biljett ...", @event.application_url, :title => "Anmäl dig till aktiviteten #{@event.subject} i arrangörens system/hemsida.", :rel => :nofollow, :class => :call_to_action
          
    = simple_format @event.description 
    
    .event_facts
      - unless @event.price.blank?
        %p 
          %span.inline_heading
            Pris: 
          = @event.price
      - unless @event.register.blank?
        %p 
          %span.inline_heading
            Anmälan: 
          = @event.register
      %div{:itemprop => "location", :itemscope => true }
        - unless @event.loc_descr.blank?
          %p
            %span.inline_heading
              Plats: 
            %span{:itemprop => :name}
              = @event.loc_descr
               
        - unless @event.street.blank?  
          %p{:itemprop => "address", :itemscope => true, :itemtype => "http://schema.org/PostalAddress"}
            %span.inline_heading
              Adress: 
            %span{:itemprop => "streetAddress"}
              = @event.street
        - unless @event.lat.nil? || @event.lng.nil?  
          = draw_map @markers          
          %p
            %span.inline_heading{:itemprop => "geo", :itemscope => true, :itemtype => "http://schema.org/GeoCoordinates"}
              <meta itemprop="latitude" content="#{@event.lat}" />
              <meta itemprop="longitude" content="#{@event.lng}" />
              Latitud/longitud:
            = @event.lat_lng
        
          = link_to "Google Maps för platsen", "http://maps.google.com/maps?q=#{@event.lat},#{@event.lng}", :class => :major
        - else
          %p &nbsp;
          %p Kartplats för evenemanget saknas.
          - if current_user
            - if current_user.authorized? @event.organizer
              = link_to "Lägg in platsen på kartan genom att ange en adress."
    
    = link_to "Spara i din Outlook eller kalender", event_path(@event, :format => :ics), :title => "Spara evenemanget i Outlook eller annan kalender som ical.", :class => :major

    %span.heading_label#article_footer Kontakta
    %ul.event_organizer
      - unless @event.phone_number.blank?
        %li
          = link_to "Ring #{@event.phone_name}: #{@event.phone_number}", "tel:#{CGI::escape(@event.phone_number)}"
      %li
        = link_to "Mejla #{@event.human_name} (kontaktformulär)", "javascript:toggle();", :id => :display_text
    #toggle_text{:style => "display:none"}
      = render "mail_messages/form"
    %span.heading_label Fler evenemang i samma kategorier
    %ul.event_type
      %li
        = link_to "#{@event.category1.capitalize} (#{Category.find(@event.c1_id).number_of_upcoming_events})", "/?c1_id=#{@event.c1_id}", :title => "Alla evenemang inom #{@event.category1} på Allom."
      -unless @event.category2.blank? || @event.c2_id.to_i == 0
        %li
          = link_to "#{@event.category2.capitalize} (#{Category.find(@event.c2_id).number_of_upcoming_events})", "/?c2_id=#{@event.c2_id}", :title => "Alla evenemang inom #{@event.category1} på Allom."
      %li
        = link_to "#{@event.municipality.name} (#{@event.municipality.upcoming_events.count})", @event.municipality, :title => "Alla evenemang i #{@event.municipality.name} på Allom."
      %li
        = link_to "#{@event.organizer.name} (#{@event.organizer.upcoming_events.count})", @event.organizer, :title => "Alla #{@event.organizer.s} evenemang på Allom."

    %footer
      %p.article_meta
        = event_footer 
      %p.article_meta
        =link_to image_tag("cc-by-sa.png", :alt => "Ikon för licensen Creative Commons CC(BY-SA)"), "http://creativecommons.org/licenses/by-sa/2.5/deed.sv", :rel => :nofollow, :title => "Licens: Creative Commons CC(BY-SA)"
        Evenemangsannonsens texter & bilder är licensierade av arrangören under Creative Commons Erkännande-DelaLika 2.5 Sverige Licens, CC (BY-SA)

      %nav.event_admin
        %span.heading_label#article_nav Jobbar du för #{@event.organizer.name}?
        %ul.event_organizer
          %li
            = link_to "Ändra evenemangsannonsen", edit_event_path
          - if current_user
            - unless current_user.authorized? @event.organizer
              %li
                = link_to "Ansök om att bli administratör", new_petition_path( :organizer_id => @event.organizer.id )
          - else
            %li
              = link_to "Ansök om att bli administratör", new_petition_path( :organizer_id => @event.organizer.id )
          
            
  %aside{:role => "complementary"}
    %span.heading_label.aside_top 
      Dela med dig av evenemanget!
    = share_me
    %span.heading_label Arrangören
    - unless @event.organizer.logotype_file_size.to_i == 0
      = link_to image_tag( @event.organizer.logotype.url(:medium), :width => "100%", :alt => "#{@event.organizer.s} logotyp"), organizer_path(@event.organizer), :title => "Till #{@event.organizer.s} arrangörssida på Allom."
    -else
      %span.event_organizer
        = link_to @event.organizer.name, organizer_path(@event.organizer), :title => "Till arrangörens sida på Allom."
    
    %p= link_to @event.organizer.intro, organizer_path(@event.organizer), :class => :ununderline
    
    - unless @event.organizer.upcoming_events.blank?
      %h3 #{@event.organizer.s} kommande evenemang
      = mini_calendar @event.organizer.upcoming_events, 20
      
    = page_counter @event.counter    
    
    - unless @event.municipality.upcoming_events.blank?
      %h3 Evenemang i #{@event.municipality}
      = mini_calendar @event.municipality.upcoming_events

    - unless @event.category.depth < 2
      - unless @event.category.parent.upcoming_events.blank?
        %h3 Evenemang i #{@event.category.parent.name.titleize}
        = mini_calendar @event.category.parent.upcoming_events

    - unless @event.category.upcoming_events.blank?
      %h3 Evenemang i #{@event.category.name.titleize}
      = mini_calendar @event.category.upcoming_events

    - unless @event.organizer.past_events.blank?
      %h3 #{@event.organizer.s} tidigare evenemang
      = mini_calendar @event.organizer.past_events
    

= event_meta
