<% set_meta_tags :title => @event.subject,
                   :description => @event.intro %>

<% open_graph_properties  @event.subject,
                          request.protocol + request.host_with_port + @event.image1.url( :large), 
                          event_path(:only_path => false) 
                          %>
                          
<% content_for :right_column_facts do %>  
  <%= page_counter @event.counter%>
  <%= organizer_facts @event.organizer %>
<% end %>       

<% if @event.stop_datetime > Time.now %>
  <div class = "event_in_future"> 
<% else %>           
  <div class = "event_in_past"> 
  <h1><%= t('.in_past')%></h1>
<% end %>


<% if current_user %>
  <% if current_user.authorized? @event.organizer %>
  <%= button_to(t('.edit'), edit_event_path(@event), :method => :get, :class => :organizer_user) %>
  <%= button_to(t('.destroy'), @event, :confirm => t('app.are_you_sure') + ' ' +@event.subject + '?', :method => :delete )%>
  <%end%>
<%end%>


<%= facebook_like event_path(:only_path => false) %>
<div class = "event_left">

<div class = "image_box">
  <%= image_tag @event.image1.url :medium %>
  <div class = "image_2">
    <div class = "image_2a">
      <%= image_tag @event.image2.url :small %>
    </div>
    <div class = "image_2b">
      <%= image_tag @event.image3.url :small %>
    </div>
  </div>
</div>

<p><strong><%= @event.duration.capitalize %></strong></p>
<h1><%= @event.subject %></h1>
<p>
 <%= arranged_by @event%><br />
 <%= arranged_in @event %><br />
 <%= in_category @event %>
</p>


<% unless @event.intro.blank? %> 
  <h3><%= @event.intro %></h3>
<% end %>

<%= simple_format @event.description %>

<p>
  <strong><%= t('.address')%>:</strong><br />
  <%= @event.street %><br />
  <%= (@event.zip + ' ' + @event.city).strip %>
</p>

<% unless @event.loc_descr.blank? %>
<p>
  <strong><%= Event.human_attribute_name :loc_descr %>:</strong><br />
  <%= @event.loc_descr %>
</p>
<% end %>
<p>
<%= link_to(t('.download_ics'), event_url(:only_path => false, :format => :ics ))  %>
</p>
</div>

<div class = "event_contact">

<p>
  <strong><%= t('.want_contact')%></strong><br />
  <% if @event.phone_number? %>
    <%= t('.call')%>
    <% if @event.phone_name? %>
      <%= @event.phone_name %> 
    <% end %>
    på telefon: <%= @event.phone_number %>.
  <% end %>
</p>

<a id="displayText" href="javascript:toggle();"><%= t('.email_contact')%></a><br />
<noscript>
  <p>
  Error message to the system owner: Form should degrade gracefully if no javascipt. TODO.
  </p>
</noscript>
<div id="toggleText" style="display: none">
<div id="mail_message" >
<% @mail_message = MailMessage.new 
    @mail_message.ip = request.remote_ip 
    @mail_message.referer = request.headers["referer"]
    @mail_message.user_agent = request.headers["user_agent"]
    @mail_message.event_id = @event.id
    @mail_message.to_name = @event.email_name
    @mail_message.to_email = @event.email
    if current_user
      @mail_message.from_email = current_user.try :email
      @mail_message.from_first_name = current_user.try :first_name
      @mail_message.from_last_name = current_user.try :last_name
    end
%>

<%= semantic_form_for @mail_message do |f| %>
  <%= f.error_messages %>
  <%= f.inputs  do %>
    <%= f.input :to_name, :as => :hidden %>
    <li class="string optional" ><label><%= MailMessage.human_attribute_name :to_name  %></label><%= image_tag avatar_url(@event) %> <%= @mail_message.to_name %></li>
    <%= f.input :mail_body , :as => :text , :input_html => {:rows => 8, :cols => 48}%>
    
    <% if @mail_message.from_email.blank? %> 
      <%= f.input :from_email %>     
    <% else %>
      <%= f.input :from_email, :as => :hidden %>
      <li class="string required" >
        <label>
          <%= MailMessage.human_attribute_name :from_email %>
        </label><%= @mail_message.from_email %> 
        <%= t 'devise.sessions.not_you' %> 
        <%= link_to I18n.t('devise.sessions.sign_out'), destroy_user_session_path %>
      </li>
    <% end %>
    
  <% if @mail_message.from_first_name.blank? %> 
      <%= f.input :from_first_name %>     
  <% else %>
      <%= f.input :from_first_name, :as => :hidden %>
      <li class="string required" ><label><%= MailMessage.human_attribute_name :from_first_name %></label><%= @mail_message.from_first_name %> <%= t 'devise.sessions.not_you' %> 
        <%= link_to I18n.t('devise.sessions.sign_out'), destroy_user_session_path %>
  <% end %>

      <%= f.input :from_last_name %>     

      <%= f.input :from_phone %>     
       
    <%= f.buttons %>
    
      <%= t 'mail_messages.form.self_copy'%> 
    
    
      <%= t 'mail_messages.form.disclaimer'%> 
    
    
    
    <%= f.input :ip, :as => :hidden %>
    <li class="string optional" ><label><%= MailMessage.human_attribute_name :ip  %></label><%= @mail_message.ip %></li>
    <%= f.input :user_agent, :as => :hidden %>
    <li class="string optional" ><label><%= MailMessage.human_attribute_name :user_agent %></label><%= @mail_message.user_agent %></li>
    <%= f.input :referer, :as => :hidden %>
    <li class="string optional" ><label><%= MailMessage.human_attribute_name :referer %></label><%= @mail_message.referer %></li>
    <%= f.input :event_id, :as => :hidden %>
    <li class="string optional" ><label><%= MailMessage.human_attribute_name :event_id %></label><%= @mail_message.event_id %></li>
  <% end %>
<% end %>
</div>
</div>

<%= image_tag avatar_url(@event) %>
</div>

<% unless @event.lat.nil? || @event.lng.nil?%>
  <div id="mapCanvas"></div>
<p>
  <strong><%= I18n.t 'app.lat_lng' %>:</strong>
  <%= raw @event.lat_lng %>
</p>
<% end %>


<%= map_marker @event %>
</div> 
 