# encoding:utf-8
<% set_meta_tags :title => @event.subject,
                   :description => @event.intro %>

<% open_graph_properties  @event.subject,
                          request.protocol + request.host_with_port + @event.image1.url( :large), 
                          event_path(:only_path => false) 
                          %>
                          
                          
<% content_for :head do %>
    <link rel="profile" href="http://microformats.org/profile/hcalendar">
<% end %> 
                         
<% content_for :right_column_bottom do %>  
  <%= page_counter @event.counter%>
  <%= organizer_facts @event.organizer, 10 %>
<% end %>       

<% if @event.stop_datetime > Time.now %>
  <div class = "event_in_future vevent"> 
<% else %>           
  <div class = "event_in_past vevent"> 
  <h1><%= t('.in_past')%></h1>
<% end %>


<% if current_user %>
  <% if (current_user.authorized? @event.organizer ) || current_user.is_admin? %>
    <div class = "user_message">
      <% if (current_user.authorized? @event.organizer ) %>
        <p>
          <%= t('.you_are_admin_for') %> <%= @event.organizer %>.
        </p>
      <% end %>
      <% if current_user.is_admin? %>
        <p>
          <%= t('.you_are_sysadmin') %>
        </p>
      <% end %>      
        <p>
          <%= button_to(  t('.edit'), 
                          edit_event_path(@event), 
                          :method => :get, 
                          :class => :organizer_user) %>
          <%= button_to(  t('.destroy'), 
                          @event, 
                          :confirm => t('app.are_you_sure') + ' ' +@event.subject + '?', 
                          :method => :delete )%>
        </p>
    </div>
  <% end %>
<% end %>


<%= facebook_like event_path(:only_path => false), "top" %>
<div class = "event_left">

<div class = "image_box">
  <%= image_tag @event.image1.url :medium %>
  <div class = "image_2">
    <div class = "image_2a">
      <%= image_tag @event.image2.url :small %>
    </div>
    <div class = "image_2b">
      <%= image_tag @event.image3.url :small %>
    </div>
  </div>
</div>

<p><strong><%= duration(@event) %></strong></p>
<h1><span class = "summary"><%= @event.subject %></span></h1>
<p>
 <%= arranged_by @event%><br />
 <%= arranged_in @event %><br />
 <%= in_category @event %>
</p>


<% unless @event.intro.blank? %> 
  <h3><%= @event.intro %></h3>
<% end %>


 <%= simple_format @event.description %>

<% unless @event.street.blank? %>
<p>
  <strong><%= t('.address')%>:</strong><br />
  <span class = "location"> 
    <%= @event.street %>
  </span>
</p>
<% end %>
<% unless @event.loc_descr.blank? %>
<p>
  <strong><%= Event.human_attribute_name :loc_descr %>:</strong><br />
  <%= @event.loc_descr %>
</p>
<% end %>
<p>
<%= link_to(t('.download_ics'), event_url(:only_path => false, :format => :ics ), :title => t('app.ics_file'))  %>
</p>
</div>

<div class = "event_contact">

<p>
  <strong><%= t('.want_contact')%></strong><br />
  <% if @event.phone_number? %>
    <%= t('.call')%>
    <% if @event.phone_name? %>
      <%= @event.phone_name %> 
    <% end %>
    på telefon: <%= @event.phone_number %>.
  <% end %>
</p>
<%= render 'contact_form' %>


<%= image_tag avatar_url(@event) %>
</div> <!-- /event_contact -->

<p>
<% unless @event.lat.nil? || @event.lng.nil?%>
  <div id="map_view"></div>
    <%= map_marker @event %>
  <strong><%= I18n.t 'app.lat_lng' %>:</strong>
  <%= lat_lng @event %>
<% else %>
  <%= t '.no_location' %>
  <% if current_user %>
    <% if current_user.authorized? @event.organizer %>
      <%= link_to t('.no_location_im_authorized1') + ' ' + @event.organizer.name + ' ' + t('.no_location_im_authorized2'), edit_event_path(@event), :link => :nofollow %>
    <% end %>
  <% end %>
<% end %>
</p>
  <%= facebook_like event_path(:only_path => false), "bottom" %>
<p>
<%= t '.created_at' %> <%= I18n.localize @event.created_at, :format => :default %>  
  <% if current_user %>
    <% if (current_user.authorized? @event.organizer) || current_user.is_admin? %>
      <%= @event.created_by %>      
    <% end %>
  <% end %>
<br />  
<% unless @event.created_at == @event.updated_at || @event.updated_by_user_id.nil?%>
  <%= t '.updated_at' %> <%= I18n.localize @event.updated_at, :format => :default %>
  <% if current_user %>
    <% if (current_user.authorized? @event.organizer) || current_user.is_admin? %>
      <%= @event.updated_by %>
    <% end %>
  <% end %>
<% end %>
</p>
</div> 

<% content_for :disclaimer do %>
<div class = "license"
<a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/se/" title = "CC BY-SA 2.5 Sverige">
  <img alt="Creative Commons-licens" src="http://i.creativecommons.org/l/by-sa/2.5/se/88x31.png" />
</a> 
<br />

Evenemangsannonsen (text & bilder) är licensierad under en <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/se/">Creative Commons Erkännande-DelaLika 2.5 Sverige Licens</a>. 

<a href = "http://info.allom.se/legalt/" title="Alloms allmänna villkor och upphovsrätt">Hur får jag använda eller återpublicera?</a>

</div>
<% end %>
 
