<% title @event.subject %>

<p>
  <%= @event.municipality.name %>
</p>
<p>
  <%= @event.intro %>
</p>
<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>
<p>
  <strong>N&auml;r:</strong>
  <%= @event.start_time %> - <%= @event.stop_time %>
</p>
<p>
  <strong>Street:</strong>
  <%= @event.street %>
</p>
<p>
  <strong>Zip:</strong>
  <%= @event.zip %>
</p>
<p>
  <strong>City:</strong>
  <%= @event.city %>
</p>
<p>
  <strong>Loc Descr:</strong>
  <%= @event.loc_descr %>
</p>
<p>
  <strong>Lat:</strong>
  <%= @event.lat %>
</p>
<p>
  <strong>Lng:</strong>
  <%= @event.lng %>
</p>


<p>
  <%= link_to t('app.edit'), edit_event_path(@event) %> |
  <%= link_to t('app.destroy'), @event, :confirm => t('app.are_you_sure') + ' ' +@event.subject + '?', :method => :delete %> |
  <%= link_to t('event.show.list'), events_path %>
</p>