<p>
Hej!
</p>
<p><%= @organizer %>s sida på Kalendern har fått en ny administratör. Det är <%= @wannabe %>. Välkommen!</p>
<p><%= @organizer %>s sida på Kalendern finns på: <%= link_to organizer_url(@organizer, :only_path => false), organizer_url(@organizer, :only_path => false) %></p>
<p>
Det här mejlet skickades automatiskt från Kalendern. Du kan inte svara på det här mejlet. Om du har frågor kring just den här ansökan kan du kontakta <%= @user %> som var den som godkände ansökan från <%= @wannabe %> att bli administratör. Om du har frågor om Kalendern i allmänhet kan du kontakta vår kundtjänst. http://info.foreningskalendern.se/kundtjanst-kontakt/
</p>
<p>
Hälsningar från Kalendern.
</p>
<p>
Kalendern: Allt som händer innan det är för sent.
</p>
