<p>
Hej!
</p>
<p>
<p>
<%= @wannabe %> har ansökt om att bli administratör på <%= @organizer %>s sida på Allom. <emphasis>Ansökan har avslagits</emphasis>.
</p>
<p>Anledning till ansökan: <br /><%= @petition.argumentation %></p>
<p>Anledning till avslag: <br /><%= @petition.rejected_reason %></p>
<p>
Det här mejlet skickades automatiskt från Allom. Om du har frågor kring just den här ansökan kan du kontakta <%= @user %> som var den som avslog ansökan från <%= @wannabe %> att bli administratör. Om du har frågor om Allom i allmänhet kan du kontakta vår kundtjänst, http://info.allom.se/kundtjanst-kontakt/
</p>
<p>
Hälsningar från Allom.
</p>
<p>
Allom - Kalendern med allt som händer innan det är för sent.
</p>
