<% set_meta_tags :title => t('.upcoming') + ' ' + @municipality.name,
                   :description => t('.meta_description') + ' ' + @municipality.name + ' ' +  t('.meta_description2')%>

<% content_for :head do %>  
  <%= auto_discovery_link_tag(  :rss, 
                                municipality_url(:format => 'rss'), 
                                {:title => t('app.events_in') + ' ' + @municipality.name + t('app.at') + ' ' +  t('app.site_name')}) 
                                %>
<% end %> 

<% content_for :right_column_bottom do %>  
  <%= municipality_facts @municipality %>
<% end %>

<% open_graph_properties  t('.upcoming') + ' ' + @municipality.name,
                          @municipality.escutcheon, 
                          municipality_path(:only_path => false) 
                          %>

<% if current_user %>
  <% if current_user.is_admin? %>
    <div class ="authorized">
      <%= button_to t('.edit'), edit_municipality_path(@municipality), :method => :get, :class => :organizer_user %>
      <%= button_to t('.destroy'), @municipality, :confirm => t('app.are_you_sure') + ' ' +@municipality.name + '?', :method => :delete %>
    </div>
  <% end %>
<% end %>

<div class = "page_heading">
  <% unless @municipality.escutcheon.blank? %>
    <%= image_tag   @municipality.escutcheon, 
                    :class => :page_logotype, 
                    :alt => t('.escutcheon_for') + ' ' + @municipality.name 
                    %>
  <%end%>
  <h1 ><%= t('.upcoming') + ' ' + @municipality.name %></h1>
  <%= facebook_like municipality_path(:only_path => false), "top" %>
</div>

<% if @events.blank? %>  
  <p>Just nu finns det inte några evenemang inplanerade i <%= @municipality.name %>.</p>
<% else %>
  <%= will_paginate( 
          @events,
          :renderer => GmailPaginationLinkRenderer,
          :first_label => t('will_paginate.first'),
          :previous_label => t('will_paginate.previous'),
          :next_label => t('will_paginate.next'),
          :last_label => t('will_paginate.last'),
          :summary_label => " %d #{t('will_paginate.to')} %d #{t('will_paginate.of')} %d "
          ) %>
  <%= calendar @events %>
  <%= will_paginate( 
          @events,
          :renderer => GmailPaginationLinkRenderer,
          :first_label => t('will_paginate.first'),
          :previous_label => t('will_paginate.previous'),
          :next_label => t('will_paginate.next'),
          :last_label => t('will_paginate.last'),
          :summary_label => " %d #{t('will_paginate.to')} %d #{t('will_paginate.of')} %d "
          ) %>
<% end %>

<p>
<%= link_to t('.previous_events') + ' ' + @municipality.name + '.', events_path(:municipality_id => @municipality.id, :start => :past) %>
</p>

<p>
<%= link_to t('.subscribe_rss') + ' ' + @municipality.name, :format => :rss, :only_path => false %>  
<%= link_to image_tag("rss_icon.gif", :alt => t('.rss_alt') + ' ' + @municipality.name), :format => :rss, :only_path => false %>
</p>

<p>
<%= link_to(t('.download_ics'), municipality_url(:only_path => false, :format => :ics ))  %>
</p>

<%= content_for :right_column_bottom do %>  
  <div class = "box" id = "promote_municipality">
    <span class="heading"><%= t('.promote')%><br /> <%=@municipality.name%>:</span>
    <p>
    <%= link_to t('.subscribe_rss') + ' ' + @municipality.name, :format => :rss, :only_path => false %>  
    <%= link_to image_tag("rss_icon.gif", :alt => t('.rss_alt') + ' ' + @municipality.name), :format => :rss, :only_path => false %>
    </p>

    <p>
    <%= link_to(t('.download_ics'), municipality_url(:only_path => false, :format => :ics ))  %>
    </p>

    <p>
    <%= t('.share_as_iframe') %>
    </p>
    <%= text_area_tag( "id", h('<iframe src="' + municipality_url(:format => :ihtml) + '"  frameborder="1" ></iframe>'), :class => :iframe_me, :readonly => true) %>
  </div> <!-- /promote_municipality -->
<% end %>


<% if current_user %>
  <% if current_user.is_admin? %>
  <hr />
  <h2><%= t 'app.for_admin'%></h2>
  <div class = "authorized">
    <p>
      <strong><%= Municipality.human_attribute_name 'admin_no' %>: </strong>
      <%= @municipality.admin_no %>
    </p>
    <p>
      <strong><%= Municipality.human_attribute_name 'parent_admin_no' %>: </strong>
      <%= @municipality.parent_admin_no %>
    </p>
    <p>
      <strong><%= Municipality.human_attribute_name 'short_name' %>: </strong>
      <%= @municipality.short_name %>
    </p>
    <p>
      <strong><%= Municipality.human_attribute_name 'wikipedia_page' %>:</strong>
      <%= @municipality.wikipedia_page %>
    </p>
    <p>
      <strong><%= Municipality.human_attribute_name 'escutcheon' %>:</strong>
      <%= @municipality.escutcheon %>
    </p>
  </div> <!-- authorized -->
<% end %>
<% end %>

<%= facebook_like municipality_path(:only_path => false), "bottom" %>