.content{:itemscope => true, :itemtype => "http://schema.org/City"}
  <meta itemprop="url" content="#{municipality_url}}">
  %article.article{:role => "main"}
    %header
      = render "flashes"
      %p.category Plats:
      %h1{:itemprop => :name}= @municipality.name
      = admin_municipality
    #map_view
    .two_cols
      .two_cols1      
        = image_tag "red-marker.png"
        %p.minor Kommande evenemang.
      .two_cols1      
        = image_tag "red-marker.png"
        %p.minor Redan genomförda evenemang.

    - unless @events.blank?
      %h6 Visar #{@events.count} av #{@municipality.upcoming_events.count} evenemang
      %table.mini_calendar
        %tbody
          - for event in @municipality.upcoming_events
            %tr{:itemscope => true, :itemtype => "http://schema.org/Event"}
              %td
                <a class='inline_div' href='#{event_path event}' title='#{event.subject}. #{event.intro}'>
                .calendar_day
                  .weekday #{l(event.start_datetime, :format => :abbr_day_of_week)}
                  .day_of_month #{l(event.start_datetime, :format => :day_of_month)}
                  .month #{l(event.start_datetime, :format => :abbr_month_of_year)}
                </a>
              %td
                = link_to raw(event.subject + ' (' + event.category.name + ') Kl.&nbsp;' + l(event.start_datetime, :format => :time) + '. ' + event.organizer.name ) + '. ', event_path(event), :title => event.intro, :itemprop => :url
                <meta itemprop="startDate" content="#{l(event.start_datetime, :format => :machine)}">
                <meta itemprop="description" content="#{event.intro}}">
                <meta itemprop="name" content="#{event.subject}}">
                <meta itemprop="performer" content="#{event.organizer.name}}">
                <meta itemprop="addressLocality" content="#{event.location}}">
      %p 
        = link_to "Visa alla inplanerade evenemang i #{@municipality.name}...", events_path,  :municipality_id => @municipality.id
    - else
      %p Just nu finns det inte några evenemang inplanerade i #{@municipality.name}. 
    %p #{ link_to "Lägg in ett evenemang som sker i #{@municipality.name}...", new_event_path(:municipality_id => @municipality.id) }

    - unless @municipality.past_events.blank?
      %p
        = link_to "Visa alla genomförda evenemang i #{@municipality.name}...", events_path(:municipality_id => @municipality.id, :to => l( Time.zone.now.beginning_of_day, :format => :date))
            
  %aside{:role => "complementary"}
    = render 'aside_show'

=municipality_meta