<% title @municipality.name %>

<p>
  <strong><%= t 'formtastic.labels.municipality.name' %>: </strong>
  <%= @municipality.name %>
</p>
<p>
  <strong><%= t '.upcoming' %>:</strong>
</p>
  
<ul>  
  <% for event in @municipality.events %>  
  <li><%= link_to event.subject + ' | ' + event.start_date + ' | ' + event.start_time + ' | ' + event.organizer.name, event %></li>  
  <% end %>  
</ul> 

<p>
  <%= link_to t('app.edit'), edit_municipality_path(@municipality) %> |
  <%= link_to t('app.destroy'), @municipality, :confirm => t('app.are_you_sure') + ' ' +@municipality.name + '?', :method => :delete %> |
  <%= link_to t('municipality.show.list'), municipalities_path %>
</p>
