<% title @municipality.name %>

<p>
  <strong><%= t 'formtastic.labels.municipality.name' %>: </strong>
  <%= @municipality.name %>
</p>

<p>
  <strong><%= t 'formtastic.labels.municipality.admin_no' %>: </strong>
  <%= @municipality.admin_no %>
</p>

<p>
  <strong><%= t 'formtastic.labels.municipality.parent_admin_no' %>: </strong>
  <%= @municipality.parent_admin_no %>
</p>

<p>
  <strong><%= t 'formtastic.labels.municipality.short_name' %>: </strong>
  <%= @municipality.short_name %>
</p>

<p>
  <strong><%= t '.upcoming' %>:</strong>
</p>
  

<table>
  <% for event in @municipality.upcoming_events %>  
    <tr>
      <td> <%= event.start_date %> </td>
      <td><strong><%= link_to event.subject, event %></strong></td> 
      <td> <%= event.intro %> </td> 
      <td> <%= event.start_time %> </td>
      <td> <%= link_to event.organizer.name, event.organizer %></td> 
    </tr>
  <% end %>   
</table>

<% if current_user %>
  <% if current_user.is_admin? %>
<p>
  <%= link_to t('app.edit'), edit_municipality_path(@municipality) %> |
  <%= link_to t('app.destroy'), @municipality, :confirm => t('app.are_you_sure') + ' ' +@municipality.name + '?', :method => :delete %> 
  
</p>

<% end %>
<% end %>
