<% title @municipality.name %>

<% content_for :head do %>  
  <%= auto_discovery_link_tag( :rss, municipality_url(:format => 'rss') , {:title => t('app.events_in') + ' ' + @municipality.name + t('app.at') + ' ' +  t('app.site_name')}) %>
<% end %> 

<p>
  <strong><%= t 'formtastic.labels.municipality.name' %>: </strong>
  <%= @municipality.name %>
</p>

<p>
  <strong><%= t 'formtastic.labels.municipality.admin_no' %>: </strong>
  <%= @municipality.admin_no %>
</p>

<p>
  <strong><%= t 'formtastic.labels.municipality.parent_admin_no' %>: </strong>
  <%= @municipality.parent_admin_no %>
</p>

<p>
  <strong><%= t 'formtastic.labels.municipality.short_name' %>: </strong>
  <%= @municipality.short_name %>
</p>

<p>
  <strong><%= t '.upcoming' %>:</strong>
</p>
  

<table>
  <% for event in @municipality.upcoming_events %>  
    <tr>
      <td> <%= event.start_date %> </td>
      <td><strong><%= link_to event.subject, event %></strong></td> 
      <td> <%= event.intro %> </td> 
      <td> <%= event.start_time %> </td>
      <td> <%= link_to event.organizer.name, event.organizer %>
              <abbr title="<%= event.organizer.number_of_upcoming_events %> <%= t '.no_of_events_per_organizer' %>">
            (<%= event.organizer.number_of_upcoming_events %>)
        </abbr>
      </td> 
    </tr>
  <% end %>   
</table>

<p>
<%= link_to t('.subscribe_rss') + ' ' + @municipality.name, :format => :rss, :only_path => false %>  
<%= link_to image_tag("rss_icon.gif", :alt => t('.rss_alt') + ' ' + @municipality.name), :format => :rss, :only_path => false %>
</p>

<p>
<%= t('.share_as_iframe') %><br />
<code><%= h '<iframe src="' + municipality_url(:format => :ihtml) + '"  frameborder="1" ></iframe>' %></code>
</p>

<p>
</p>
<% if current_user %>
  <% if current_user.is_admin? %>
<p>
  <%= link_to t('app.edit'), edit_municipality_path(@municipality) %> |
  <%= link_to t('app.destroy'), @municipality, :confirm => t('app.are_you_sure') + ' ' +@municipality.name + '?', :method => :delete %> 
  
</p>

<% end %>
<% end %>
