.content{:itemscope => true, :itemtype => "http://schema.org/City"}
  <meta itemprop="url" content="#{municipality_url}}">
  %article.article{:role => "main"}
    %header
      %p.category Plats:
      %h1{:itemprop => :name}= @municipality.name
      = admin_municipality
    = draw_map @markers     
    %p
      = image_tag "grn-pushpin.png", :class => :marker_legend_mid_size
      Kommande evenemang.
    %p
      = image_tag "red-pushpin.png", :class => :marker_legend_small_size
      Redan genomförda evenemang.
    
      
    - unless @events.blank?
      %h6 Visar #{@events.count} av #{@municipality.upcoming_events.count} evenemang
      %table.mini_calendar
        %tbody
          - for event in @municipality.upcoming_events
            %tr{:itemscope => true, :itemtype => "http://schema.org/Event"}
              %td.sheet
                <a href='#{event_path event}' title='#{event.subject}. #{event.intro}'>
                .calendar_day
                  .weekday #{l(event.start_datetime, :format => :abbr_day_of_week)}
                  .day_of_month #{l(event.start_datetime, :format => :day_of_month)}
                  .month #{l(event.start_datetime, :format => :abbr_month_of_year)}
                </a>
              %td.event
                = link_to raw(event.subject + ' (' + event.category.name + ') Kl.&nbsp;' + l(event.start_datetime, :format => :time) + '. ' + event.organizer.name ) + '. ', event_path(event), :title => event.intro, :itemprop => :url
                <meta itemprop="startDate" content="#{l(event.start_datetime, :format => :machine)}">
                <meta itemprop="description" content="#{event.intro}">
                <meta itemprop="name" content="#{event.subject}">
                <meta itemprop="performer" content="#{event.organizer.name}">
                - # <meta itemprop="addressLocality" content="#{event.location}}">
      %p.event_type 
        = link_to "Visa alla inplanerade evenemang i #{@municipality.name}...", events_path(  :municipality_id => @municipality.id)
    - else
      %p Just nu finns det inte några evenemang inplanerade i #{@municipality.name}. 

    - unless @municipality.past_events.blank?
      %p.event_type 
        = link_to "Visa alla genomförda evenemang i #{@municipality.name}...", events_path(:municipality_id => @municipality.id, :to => l( Time.zone.now.beginning_of_day, :format => :date))
    %p.event_organizer #{ link_to "Lägg in ett evenemang som sker i #{@municipality.name}...", new_event_path(:municipality_id => @municipality.id) }
                
  %aside{:role => "complementary"}
    = render 'aside_show'

=municipality_meta