<% set_meta_tags :title => t('.upcoming') + ' ' + @municipality.name,
                   :description => t('.meta_description') + ' ' + @municipality.name + ' ' +  t('.meta_description2')%>

<% content_for :head do %>  
  <%= auto_discovery_link_tag( :rss, municipality_url(:format => 'rss') , {:title => t('app.events_in') + ' ' + @municipality.name + t('app.at') + ' ' +  t('app.site_name')}) %>
  <%= %>
<% end %> 

<% content_for :right_column_facts do %>  
  <%= municipality_facts @municipality %>
<% end %>

<h1><%= t('.upcoming') + ' ' + @municipality.name %></h1>



<% if @municipality.upcoming_events.blank? %>  
  <p>Just nu finns det inte några evenemang inplanerade i <%= @municipality.name %>.</p>
<% else %>
  <%= calendar @municipality.upcoming_events %>
<% end %>

<p>
<%= link_to t('.subscribe_rss') + ' ' + @municipality.name, :format => :rss, :only_path => false %>  
<%= link_to image_tag("rss_icon.gif", :alt => t('.rss_alt') + ' ' + @municipality.name), :format => :rss, :only_path => false %>
</p>

<p>
<%= link_to(t('.download_ics'), municipality_url(:only_path => false, :format => :ics ))  %>
</p>

<p>
<%= t('.share_as_iframe') %><br />
<code><%= h '<iframe src="' + municipality_url(:format => :ihtml) + '"  frameborder="1" ></iframe>' %></code>
</p>





<% if current_user %>
  <% if current_user.is_admin? %>
  <div class = "authorized">
<p>
  <strong><%= t 'formtastic.labels.municipality.admin_no' %>: </strong>
  <%= @municipality.admin_no %>
</p>

<p>
  <strong><%= t 'formtastic.labels.municipality.parent_admin_no' %>: </strong>
  <%= @municipality.parent_admin_no %>
</p>

<p>
  <strong><%= t 'formtastic.labels.municipality.short_name' %>: </strong>
  <%= @municipality.short_name %>
</p>

<p>
  <strong>Wikipediasida:</strong>
  <%= @municipality.wikipedia_page %>
</p>

</div> <!-- authorized -->
<% end %>
<% end %>


<% if current_user %>
  <% if current_user.is_admin? %>
  <div class = "authorized">
    <ul>
    <li><%= link_to t('app.edit'), edit_municipality_path(@municipality) %></li>
    <li><%= link_to t('app.destroy'), @municipality, :confirm => t('app.are_you_sure') + ' ' +@municipality.name + '?', :method => :delete %></li>
    </ul>
  </div> <!-- authorized -->

<% end %>
<% end %>
