<% title @municipality.name %>

<p>
  <strong><%= t 'formtastic.labels.municipality.name' %>: </strong>
  <%= @municipality.name %>
</p>

<p>
  <%= link_to t('app.edit'), edit_municipality_path(@municipality) %> |
  <%= link_to t('app.destroy'), @municipality, :confirm => t('app.are_you_sure') + ' ' +@municipality.name + '?', :method => :delete %> |
  <%= link_to t('municipality.show.list'), municipalities_path %>
</p>
