.content_container
  %footer.footer.todo
    %p
      = link_to "Allom © Kalenderbolaget i Sverige AB.", "http://info.allom.se/om-allom-evenemangskalendern/"
      - if user_signed_in?
        Inloggad som #{current_user.email}.
        - if current_user.is_admin?
          (systemadministratör)
        = link_to "Inte du? Logga ut.", destroy_user_session_path, :method => :delete
        = link_to "Ditt användarkonto/byt lösenord.", current_user
        = link_to "Logga ut.", destroy_user_session_path, :method => :delete
      - else
        = link_to "Logga in", new_user_session_path
        = link_to "Glömt lösenord?", new_user_password_path
        = link_to "Registrera kostnadsfritt konto.", new_user_registration_path
      = link_to "Anmäl/felanmäl sidan.", new_mail_message_path( :current_page =>  request.protocol + request.host_with_port + request.fullpath)
    %p
      = render 'events/screen_size'