%head
  %meta{ :charset => "utf-8" }/
  <!--[if IE]>
  <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
  <![endif]-->
  = display_meta_tags
  <meta name="google-site-verification" content="TADUOWffa3kU7lYWEuPmo9YrL72sQsoxypI0ffHQOTY" />
  <meta property="fb:admins" content="1083707575" />
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/themes/smoothness/jquery-ui.css" media="screen" rel="stylesheet" type="text/css" />
  = yield(:head)

  -# Mobile viewport optimized: h5bp.com/viewport
  %meta{ :name => "viewport", :content => "width=device-width,initial-scale=1" }/
  %link{:rel => "shortcut icon", :href => "#{image_path 'favicon.ico'}"}
  -# For third-generation iPad with high-resolution Retina display: 
  -# <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png">
  -# For iPhone with high-resolution Retina display:
  -# <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
  -# For first- and second-generation iPad:
  -# <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
  -# For non-Retina iPhone, iPod Touch, and Android 2.1+ devices:
  -# <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
  = render "stylesheets"

  -# More ideas for your <head> here: h5bp.com/d/head-Tips

  -# All JavaScript at the bottom, except this Modernizr build incl. Respond.js
  -# Respond is a polyfill for min/max-width media queries. Modernizr enables HTML5 elements & feature detects;
  -# for optimal performance, create your own custom Modernizr build: www.modernizr.com/download/
  = javascript_include_tag "polyfills"

  = csrf_meta_tag