<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8"> 
  <%= display_meta_tags :site => t('app.site_name'), :reverse => true %>
  <%= stylesheet_link_tag 'formtastic' %>
  <%= stylesheet_link_tag 'formtastic_changes' %>
  <%= stylesheet_link_tag 'application_mini' %>

  <%= stylesheet_link_tag "blog_css_reset", :media => :all %>
  <%= stylesheet_link_tag "blog_css_960", :media => :all %>
  <%= stylesheet_link_tag "blog_style" %>

	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" media="all" href="/public/stylesheets/blog_ie7.css" />
	<![endif]-->

	<!--[if IE 6]>
		<link rel="stylesheet" type="text/css" media="all" href="/public/stylesheets/blog_ie6.css" />
		<script type="text/javascript" src="/public/stylesheets/blog/includes/js/pngfix.js"></script>
		<script type="text/javascript" src="http://info.allom.se/wp-content/themes/bloggingstream/includes/js/menu.js"></script>
	<![endif]-->
  
  <%= stylesheet_link_tag "blog_styles_default", :media => :all %>
  <%= stylesheet_link_tag "blog_custom", :media => :all %>
  <%= stylesheet_link_tag 'calendar', :media => :all %>
  <%= stylesheet_link_tag 'wikipedia' %>

  
  <meta name='robots' content='noindex,nofollow' />
  
  <%= javascript_include_tag  %>
  <%= stylesheet_link_tag  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/themes/smoothness/jquery-ui.css" %>
  <%= javascript_include_tag "jquery.js", "jquery-ui.js", "jquery.rails.js", "jquery.ui.datepicker-sv.js", "jquery.googlemaps1.01.js", "jquery-ui-1.8.1.custom.min.js",  "application" %>
  <script src="http://maps.google.com/maps/api/js?sensor=false&amp;region=SE&amp;language=sv" type="text/javascript"></script>
  <meta name="google-site-verification" content="TADUOWffa3kU7lYWEuPmo9YrL72sQsoxypI0ffHQOTY" />
  <%= favicon_link_tag "favicon.png" %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
  <link rel="alternate" type="application/rss+xml" title="RSS-flöde med alla kommande evenemang" href="http://<%= request.host + ':' + request.port.to_s %>/events.rss /">
  
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24098932-1']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  
</head>

<body class="single single-post custom unknown">

<div id="container" class="container_16">
	<div id="topbar">
		
		<div id="nav" class="grid_11 alpha">
			<ul id="pagenav" class="menu"><li id="menu-item-34" class="menu-item menu-item-type-custom menu-item-34"><a href="/">Alla evenemang</a></li>
<li id="menu-item-37" class="menu-item menu-item-type-custom menu-item-37"><a href="/events/new">Lägg in evenemangsannons</a></li>
<li id="menu-item-35" class="menu-item menu-item-type-custom menu-item-35"><a href="/municipalities">Alla kommuner</a></li>
<li id="menu-item-36" class="menu-item menu-item-type-custom menu-item-36"><a href="/organizers">Alla arrangörer</a></li>
</ul>		</div><!-- /nav -->
    <div id = "user_account_box">
		<% if user_signed_in? %>
      <div id="user_account">
      
      <%= link_to (image_tag avatar_url(current_user), :id => :user_avatar), "http://sv.gravatar.com", :title => t('.use_gravatar'), :rel => :nofolow %>
      <%= current_user.email %>
      <%= raw %(<abbr title="#{t'.is_admin'}">*</abbr>) if current_user.is_admin? %>
      <br /><%= t 'users.sessions.not_you' %> <%= link_to I18n.t('users.sessions.sign_out'), destroy_user_session_path %><br />
      <%= link_to (t 'users.sessions.change_settings'), edit_user_path(current_user) %>
      </div><!-- /user_account -->
    <% else %>
      <div id="user_form">

      <%= form_for(:user, :as => :post, :url => "/users/sign_in" ) do |f| %>
        <div id = "login_email">
          <%= f.label :email, t('.email') %><br/> 
          <%= f.text_field :email, :size => "20" %><br/> 
          <%= f.check_box :remember_me %> <%= f.label :remember_me, t('.remember_me') %>
        </div>
        <div id = "login_passwd">
          <%= f.label :password, t('.password') %><br />
          <%= f.password_field :password, :size => "8" %>
        </div>
        <div id = "login_login">
          &nbsp;<br />
          <%= f.submit t '.sign_in' %><br />
          <span id = "forgot_password"><%= link_to( t('.forgot_password'), "/users/password/new")%></span>
        </div>        
        <div id = "login_auto">
        </div>
      <% end %>
      
      </div><!-- /user_form -->
    <% end %>
    </div> <!-- /user_account_box -->
	
	</div><!-- /topbar -->
	
	<div id="header">
	
		<div id="logo">
		
			<h1><a href="/" title="Allom">Allom</a></h1>
			<h2>Kalendern med allt som händer &#8211; innan det är försent</h2>
			<%= link_to((image_tag 'logotyp.png', :alt => "Alloms logotyp", :title => "Allom - Kalendern med allt som händer innan det är för sent."), "/", :title => "Allom - Kalendern med allt som händer innan det är för sent." ) %>
			
		</div><!-- /logo -->
		
		<div id="header_ad">

		
		<a href="http://www.unicef.se/stod-oss"><img src="http://www.unicef.se/images/468x120/akamp-alla-barn-bla-468-120.jpg" width="468" height="120" alt="advert" /></a>
		
		
		
</div>	
	</div><!-- /header -->

<div id="single_content">
	
		<div id="left_single">
		
						
			<div class="post">
      <h2>Allom testkör - just nu inga garantier att innehållet är korrekt.</h2>
	  
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :class => "flash_#{name}" %>
      <% end %>
      
     <%= content_for :user_message %>
      
      
      <%= yield %>
			
			</div><!-- /post -->
			
						
      		<div id="bottom_ad">
		<a href="http://www.unicef.se/stod-oss"><img src="http://www.unicef.se/images/468x120/akamp-alla-barn-bla-468-120.jpg" width="468" height="120" alt="advert" /></a>
          </div>	<!-- /bottom_ad -->
			
		</div><!-- /left_single -->

				<div id="right">
          <div id="user_nav" class="box">
              <% unless user_signed_in? %>
                    <p>
                    <%= link_to I18n.t('users.sessions.sign_up'), new_user_registration_path %> <%= I18n.t('app.or') %> 
                    <%=link_to I18n.t('users.sessions.sign_in'), new_user_session_path %>    
                    </p>
              <% else %>
                    <p>
                    <%= t('users.invitations.new.have_a_friend')%><br />
                    <%= link_to t('users.invitations.new.invite_her'), new_user_invitation_path %>
                    </p>
              <% end %>
          </div> <!-- /user_nav -->
          <%= content_for :right_column_top %>
          <% if current_user %>    
            <div id="calendar-nav" class="box">
              <span class="heading"><%= t '.quick_links' %>:</span>
              <ul>              
                  <li><%= link_to t('.new_organizer'), new_organizer_path %></li>
                  <li><%= link_to(t('.subscribe_rss'), events_url(:only_path => false, :format => :rss) )  %>  
  <%= link_to image_tag("rss_icon.gif", :alt => t('.rss_alt')), events_url(:only_path => false, :format => :rss) %></li>                     
              </ul>
            </div><!-- /calendar-nav -->
          <%end%>  

          <% if current_user %>
            <% if current_user.is_admin? %>
              <div id="admin_nav" class="box">
                <span class="heading"><%= t '.admin_links' %>:</span>
                <ul>
                  <li><%= link_to t('.users'), users_path %></li>
                  <li><%= link_to t('.memberships'), memberships_path %></li>
                  <li><%= link_to t('.categories'), categories_path %></li>
                  <li><%= link_to t('.mail_messages'), mail_messages_path %></li>
                </ul>
              </div><!-- /admin_nav -->
            <%end%>
          <%end%>
          

          <div id="ads" class="box">
            <span class="heading"><%= t '.ads' %>:</span>				
            <div class="adblock">
              <a href="http://www.woothemes.com" title="Stöd vår sponsor"><img src="http://www.woothemes.com/ads/125x125b.jpg" alt="Sponsor" /></a>
              <a href="http://www.woothemes.com" title="Stöd vår sponsor"><img src="http://www.woothemes.com/ads/125x125b.jpg" alt="Sponsor" /></a>
            </div><!-- /adblock -->
          </div><!-- /ads -->

      <%= content_for :right_column_bottom %>
					
			<div class="clear"></div>
					
		</div><!-- /right -->

	</div><!-- /single_content -->
	
	<div class="clear"></div>	

	<div id="footer">
		
		<ul>
			<li class=""><a href="http://info.allom.se" title="Allom"><span class="left"></span>Om Allom<span class="right"></span></a></li>
			<li class="page_item page-item-6"><a href="http://info.allom.se/kundtjanst-kontakt/" title="Kundtjänst &amp; kontakt">Kundtjänst &#038; kontakt</a></li>
      <li class="page_item page-item-6"><a href="http://info.allom.se/legalt/" title="Legala frågor">Allmänna villkor, upphovsrätt, cookies och personuppgifter</a></li>
		</ul>
		
		
	</div><!-- /footer -->

</div><!-- /container -->



</body>
</html>
