<!DOCTYPE html>
<html>
  <head>
    <title><%= (content_for?(:title) ? yield(:title) : "") + ' | ' + t('app.sitename') %></title>
    <%= stylesheet_link_tag 'application', 'formtastic', 'formtastic_changes' %>
    <%= javascript_include_tag  %>
    <%= stylesheet_link_tag  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/themes/smoothness/jquery-ui.css" %>
    <%= javascript_include_tag "jquery.js", "jquery-ui.js", "jquery.rails.js", "jquery.ui.datepicker-sv.js", "application" %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    
    <div id="container">
      <div id="user_nav">
	    <% if user_signed_in? %>
	      <%= t 'devise.sessions.not_you' %> <%= link_to I18n.t('devise.sessions.sign_out'), destroy_user_session_path %>
	    <% else %>
	      <%= link_to I18n.t('devise.sessions.sign_up'), new_user_registration_path %> <%= I18n.t('app.or') %> 
        <%=link_to I18n.t('devise.sessions.sign_in'), new_user_session_path %>
	    <% end %>
	  </div>
    <h1><%= link_to "Kalendern", "/" %></h1>
	  
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <hr>
      <%= yield %>
      <hr>
      <p>  <%= link_to t('events.show.list'), events_path %> | <%= link_to t('organizer.show.list'), organizers_path %> | <%= link_to t('municipality.show.list'), municipalities_path %> | <%= link_to t('users.show.list'), users_path %></p>
    </div>
  </body>
</html>
