<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8"> 
  <%= display_meta_tags :site => t('app.site_name'), :reverse => true %>
  <%= stylesheet_link_tag 'formtastic' %>
  <%= stylesheet_link_tag 'formtastic_changes' %>
  <%= stylesheet_link_tag 'application_mini' %>
  <%= stylesheet_link_tag "blog_style" %>
  <%= stylesheet_link_tag "blog_css_reset", :media => :all %>
  <%= stylesheet_link_tag "blog_css_960", :media => :all %>
  <%= stylesheet_link_tag "blog_style" %>
	
	<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" media="all" href="/public/stylesheets/blog_ie7.css" />
	<![endif]-->

	<!--[if IE 6]>
		<link rel="stylesheet" type="text/css" media="all" href="/public/stylesheets/blog_ie6.css" />
		<script type="text/javascript" src="/public/stylesheets/blog/includes/js/pngfix.js"></script>
		<script type="text/javascript" src="http://info.foreningskalendern.se/wp-content/themes/bloggingstream/includes/js/menu.js"></script>
	<![endif]-->
  
  <%= stylesheet_link_tag "blog_styles_default", :media => :all %>
  <%= stylesheet_link_tag "blog_custom", :media => :all %>

  <meta name='robots' content='noindex,nofollow' />
  
  <%= javascript_include_tag  %>
  <%= stylesheet_link_tag  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/themes/smoothness/jquery-ui.css" %>
  <%= javascript_include_tag "jquery.js", "jquery-ui.js", "jquery.rails.js", "jquery.ui.datepicker-sv.js", "jquery.googlemaps1.01.js", "http://maps.google.com/maps?file=api&v=3&sensor=false", "application" %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
  
</head>

<body class="single single-post custom unknown">

<div id="container" class="container_16">
	<div id="topbar">
		
		<div id="nav" class="grid_11 alpha">
			<ul id="pagenav" class="menu"><li id="menu-item-34" class="menu-item menu-item-type-custom menu-item-34"><a href="/">Startsidan</a></li>
<li id="menu-item-37" class="menu-item menu-item-type-custom menu-item-37"><a href="/not-yet-implemented/">Lägg in evenemang</a></li>
<li id="menu-item-35" class="menu-item menu-item-type-custom menu-item-35"><a href="/municipalities">Alla kommuner</a></li>
<li id="menu-item-36" class="menu-item menu-item-type-custom menu-item-36"><a href="/organizers">Alla arrangörer</a></li>
<li id="menu-item-23" class="menu-item menu-item-type-custom menu-item-home menu-item-23"><a href="http://info.foreningskalendern.se/">Om kalendern</a></li>
</ul>		</div><!-- /nav -->
		
		<div id="search">
		<!--
			<form method="get" id="searchform" action="http://info.foreningskalendern.se/" class="search-form">
			
				<label>Sök</label>	<input type="text" value="Sök" name="s" id="s" class="field" onfocus="if (this.value == 'Sök') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Sök';}" />
			
			</form>
		-->
		</div><!-- /search -->
	
	</div><!-- /topbar -->
	
	<div id="header">
	
		<div id="logo">
		
			<h1><a href="http://info.foreningskalendern.se" title="Föreningskalendern">Föreningskalendern</a></h1>
			<h2>Allt som händer &#8211; innan det är försent</h2>
			
			<a href="http://info.foreningskalendern.se" title="Föreningskalendern"><img class="logo" src="http://www.lumano.se/img/lumano.gif" alt="Föreningskalendern" /></a>
			
		</div><!-- /logo -->
		
		<div id="header_ad">

		
		<a href="http://www.unicef.se/stod-oss"><img src="http://www.unicef.se/images/468x120/akamp-alla-barn-bla-468-120.jpg" width="468" height="60" alt="advert" /></a>
		
		
		
</div>	
	</div><!-- /header -->

<div id="single_content">
	
		<div id="left_single">
		
						
			<div class="post">

	  
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
            
      <%= yield %>
			
			</div><!-- /post -->
			
						
			<div id="comments">
				
    


<div id="comments2">

	

</div> <!-- /#comments_wrap -->


<div id="respond">

</div><!-- /#respond -->

    	
			</div><!-- /comments -->
			
		</div><!-- /left_single -->

				<div id="right">
				
								
					  <div id="user_nav" class="box">
            <p>
              <% if user_signed_in? %>
                <strong>
                <%= t 'devise.sessions.signed_in_as' %> <%= current_user.email %>.</strong><br /> <%= t 'devise.sessions.not_you' %> <%= link_to I18n.t('devise.sessions.sign_out'), destroy_user_session_path %><br />
                <%= link_to (t 'devise.sessions.change_settings'), edit_user_path(current_user) %> 
              <% else %>
                <%= link_to I18n.t('devise.sessions.sign_up'), new_user_registration_path %> <%= I18n.t('app.or') %> 
                <%=link_to I18n.t('devise.sessions.sign_in'), new_user_session_path %>
              <% end %>
              </p>
          </div> <!-- user_nav -->
          
          
					<div id="calendar-nav" class="box">
          <span class="heading">Snabblänkar:</span>
                <ul>
                  <li><%= link_to t('nav.events'), events_path %></li>
                  <li><%= link_to t('nav.organizers'), organizers_path %></li>
                  <li><%= link_to t('nav.municipalities'), municipalities_path %></li>
                  <% if current_user %>
                    <% if current_user.is_admin? %>
                      <div class = "authorized" >
                      <li><%= link_to t('nav.users'), users_path %></li>
                      </div>
                    <%end%>
                  <%end%>
                </ul>
										
					</div><!-- /post-meta -->
					
								
		
				
				
			<div id="ads" class="box">
			
				<span class="heading">Annons</span>
				
				<div class="adblock">

									

					<a href="http://www.woothemes.com" title="Stöd vår sponsor"><img src="http://www.woothemes.com/ads/125x125b.jpg" alt="Sponsor" /></a>

									

					<a href="http://www.woothemes.com" title="Stöd vår sponsor"><img src="http://www.woothemes.com/ads/125x125b.jpg" alt="Sponsor" /></a>

										

				</div><!-- /adblock -->
			
			</div><!-- /ads -->

					<div id="related" class="box">
			
					<span class="heading">Fakta från Wikipedia</span>
				
        
<table class="infobox geography" style="width: 100%; padding: 0; font-size: 89%;">
<tr class="mergedtoprow" title="Objektets namn (lokalt namn)">
<td colspan="2" style="text-align: center; font-weight: bold; font-size: 1.25em; background-color: #ffdead;">Ekerö kommun</td>
</tr>
<tr class="mergedbottomrow" title="Kategori">
<td colspan="2" style="text-align: center; background-color: #ffdead;"><a href="/wiki/Kommun" title="Kommun">Kommun</a></td>
</tr>
<tr>
<td colspan="2">
<table style="width: 100%; background: none; align=center; border: none; padding: 0; margin: 0">

<tr class="mergedrow">
<td style="width:100%; text-align: center; vertical-align: bottom;">
<div style="padding-top: 0.4em"><a href="/wiki/Fil:Eker%C3%B6_vapen.svg" class="image"><img alt="Ekerö vapen.svg" src="http://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Eker%C3%B6_vapen.svg/90px-Eker%C3%B6_vapen.svg.png" width="90" height="109" /></a></div>
<div style="padding-top: 0.4em"><span title=""><a href="/w/index.php?title=Eker%C3%B6_kommunvapen&amp;action=edit&amp;redlink=1" class="new" title="Ekerö kommunvapen [inte skriven än]">Ekerö kommunvapen</a></span></div>
</td>
</tr>
</table>
</td>
</tr>
<tr class="mergedtoprow" title="Land / länder där objektet ligger">
<th style="white-space: nowrap; text-align: left;">Land</th>
<td><span style="white-space: nowrap"><a href="/wiki/Fil:Flag_of_Sweden.svg" class="image" title="Sverige"><img alt="Sverige" src="http://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Flag_of_Sweden.svg/22px-Flag_of_Sweden.svg.png" width="22" height="14" class="thumbborder" /></a>&#160;<a href="/wiki/Sverige" title="Sverige">Sverige</a></span></td>
</tr>
<tr class="mergedrow" title="Delstat / delstater där objektet ligger">

<th style="white-space: nowrap; text-align: left;"><a href="/wiki/Sveriges_l%C3%A4n" title="Sveriges län">Län</a></th>
<td><span style="white-space: nowrap"><a href="/wiki/Stockholms_l%C3%A4n" title="Stockholms län">Stockholms län</a></span></td>
</tr>
<tr class="mergedrow" title="Region / regioner där objektet ligger">
<th style="white-space: nowrap; text-align: left;"><a href="/wiki/Landskap_i_Sverige" title="Landskap i Sverige">Landskap</a></th>
<td><span style="white-space: nowrap"><a href="/wiki/Uppland" title="Uppland">Uppland</a></span></td>
</tr>
<tr class="mergedrow" title="Distrikt där objektet ligger">
<th style="white-space: nowrap; text-align: left;"><a href="/wiki/Domsaga" title="Domsaga">Domsaga</a></th>
<td><span style="white-space: nowrap"><a href="/wiki/Solna_tingsr%C3%A4tt" title="Solna tingsrätt">Solna domsaga</a></span></td>
</tr>

<tr class="mergedrow" style="height: 0.2em;">
<td colspan="2"></td>
</tr>
<tr class="mergedtoprow" title="Huvudstad">
<th style="white-space: nowrap; text-align: left;"><a href="/wiki/Centralort" title="Centralort">Centralort</a></th>
<td><a href="/wiki/Eker%C3%B6" title="Ekerö">Ekerö</a></td>
</tr>
<tr class="mergedrow" style="height: 0.2em;">
<td colspan="2"></td>
</tr>
<tr class="mergedtoprow" title="Area">
<th style="white-space: nowrap; text-align: left;"><a href="/wiki/Areal" title="Areal" class="mw-redirect">Areal</a></th>
<td>387&#160;<a href="/wiki/Kvadratkilometer" title="Kvadratkilometer">km²</a> <i>(jan 2010)<sup id="cite_ref-Statmallen_Sverige_Areal_totalt_0-0" class="reference"><a href="#cite_note-Statmallen_Sverige_Areal_totalt-0">[1]</a></sup><br />

<a href="/wiki/Lista_%C3%B6ver_Sveriges_kommuner" title="Lista över Sveriges kommuner">219:e</a> största (av 290)</i></td>
</tr>
<tr class="mergedrow" title="Landarea">
<td style="white-space: nowrap; text-align: left;">&#160;-&#160;land</td>
<td>216&#160;<a href="/wiki/Kvadratkilometer" title="Kvadratkilometer">km²</a></td>
</tr>
<tr class="mergedrow" title="Vattenarea">
<td style="white-space: nowrap; text-align: left;">&#160;-&#160;vatten</td>

<td>170&#160;<a href="/wiki/Kvadratkilometer" title="Kvadratkilometer">km²</a></td>
</tr>
<tr class="mergedrow" title="Area för storstadsområdet (med förorter)">
<td style="white-space: nowrap; text-align: left;">&#160;-&#160;storstadsområde</td>
<td>6&#160;519&#160;<a href="/wiki/Kvadratkilometer" title="Kvadratkilometer">km²</a> <i>(juni 2010)<br /></i></td>
</tr>
<tr class="mergedrow" style="height: 0.2em;">
<td colspan="2"></td>

</tr>
<tr class="mergedtoprow" title="Total folkmängd, inom ortens administrativa gränser">
<th style="white-space: nowrap; text-align: left;"><a href="/wiki/Folkm%C3%A4ngd" title="Folkmängd">Folkmängd</a></th>
<td>25&#160;347&#160;(sept. 2010) <i><sup id="cite_ref-Statmallen_Befolkning_i_Sveriges_kommuner_1-0" class="reference"><a href="#cite_note-Statmallen_Befolkning_i_Sveriges_kommuner-1">[2]</a></sup><br />
<a href="/wiki/Lista_%C3%B6ver_Sveriges_kommuner" title="Lista över Sveriges kommuner">101:a</a> största (av 290)</i></td>
</tr>
<tr class="mergedrow" title="Hela storstadsområdets folkmängd, inklusive förorter">
<td style="white-space: nowrap; text-align: left;">&#160;-&#160;storstadsområde</td>

<td>2&#160;046&#160;103&#160;(sept. 2010<sup id="cite_ref-Statmallen_Befolkning_i_Sveriges_kommuner_1-1" class="reference"><a href="#cite_note-Statmallen_Befolkning_i_Sveriges_kommuner-1">[2]</a></sup>) <i><br />
del av <a href="/wiki/Stor-Stockholm" title="Stor-Stockholm" class="mw-redirect">Stor-Stockholm</a></i></td>
</tr>
<tr class="mergedrow" title="Befolkningstäthet">
<th style="white-space: nowrap; text-align: left;"><a href="/wiki/Befolkningst%C3%A4thet" title="Befolkningstäthet">Befolkningstäthet</a></th>
<td>117,14&#160;invånare/<a href="/wiki/Kvadratkilometer" title="Kvadratkilometer">km²</a> <i><sup id="cite_ref-Statmallen_Befolkning_i_Sveriges_kommuner_1-2" class="reference"><a href="#cite_note-Statmallen_Befolkning_i_Sveriges_kommuner-1">[2]</a></sup><sup id="cite_ref-Statmallen_Sverige_Areal_totalt_0-1" class="reference"><a href="#cite_note-Statmallen_Sverige_Areal_totalt-0">[1]</a></sup><br />

<a href="/wiki/Lista_%C3%B6ver_Sveriges_kommuner" title="Lista över Sveriges kommuner">45:e</a> högsta (av 290)</i></td>
</tr>
<tr class="mergedrow" title="Befolkningstäthet, storstadsområde inklusive förorter">
<td style="white-space: nowrap; text-align: left;">&#160;-&#160;storstadsområde</td>
<td>314&#160;invånare/<a href="/wiki/Kvadratkilometer" title="Kvadratkilometer">km²</a></td>
</tr>
<tr class="mergedrow" style="height: 0.2em;">
<td colspan="2"></td>
</tr>

<tr class="mergedtoprow" title="Fritt fält utan beskrivning">
<th style="white-space: nowrap; text-align: left;"><a href="/wiki/Kommunkod" title="Kommunkod">Kommunkod</a></th>
<td>0125</td>
</tr>
<tr class="mergedrow" style="height: 0.2em;">
<td colspan="2"></td>
</tr>
<tr>
<td colspan="2">
<div style="width: 256px; margin-left: auto; margin-right: auto;">
<div style="position: relative;">
<div style="position: relative;">
<div class="center">
<div class="floatnone"><a href="/wiki/Fil:Eker%C3%B6_Municipality_in_Stockholm_County.png" class="image"><img alt="Ekerö Municipality in Stockholm County.png" src="http://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Eker%C3%B6_Municipality_in_Stockholm_County.png/256px-Eker%C3%B6_Municipality_in_Stockholm_County.png" width="256" height="348" /></a></div>
</div>

</div>
</div>
</div>
</td>
</tr>
<tr title="Officiell eller betydande webbplats">
<td colspan="2" style="text-align: center;"><b>Webbplats:</b> <a href="http://www.ekero.se/" class="external text" rel="nofollow">www.ekero.se</a></td>
</tr>
<tr class="mergedrow" style="height: 0.2em;">
<td colspan="2"></td>
</tr>
<tr title="Fotnoter">
<td colspan="2" style="text-align: center;">Befolkningstäthet beräknas enbart på landareal.</td>

</tr>
</table>

						
			
					</div><!-- /related -->			
					
			
			<div class="clear"></div>
					
		</div><!-- /right -->

	</div><!-- /single_content -->
	
	<div class="clear"></div>	

	<div id="footer">
		
		<ul>
			<li class=""><a href="http://info.foreningskalendern.se" title="Föreningskalendern"><span class="left"></span>Om kalendern<span class="right"></span></a></li>
			<li class="page_item page-item-6"><a href="http://info.foreningskalendern.se/kundtjanst-kontakt/" title="Kundtjänst &amp; kontakt">Kundtjänst &#038; kontakt</a></li>
		</ul>
		
		
	</div><!-- /footer -->

</div><!-- /container -->



</body>
</html>