<h1><%= title t('devise.registrations.new.sign_up') %></h1>
<p>För att kunna lägga in evenemangsannonser och arrangörssidor här på Allom behöver du ett användarkonto.</p><p>Det kostar inte något att ha ett användarkonto</p><p>Du lovar inte något. Vi lovar att inte sprida din mejladress.</p>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_messages %>

  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.submit t('devise.registrations.new.sign_up') %></p>
<% end %>

<%= render :partial => "users/shared/links" %>
